
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.dashboard-ivc {
  width: 100%;
  height: 108rem;
  border-radius: 1rem;

  .crypto-dashboard-X7N {
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    background: linear-gradient(180deg, #313189 -0%, rgba(29, 29, 69, 0.0399999991) 100%);

    .frame-87-rSU {
      width: 26.9rem;
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      box-sizing: border-box;
      padding-left: 3.8rem;

      .auto-group-hhn8-jWG {
        flex-shrink: 0;
        margin: 5.6rem 3.5rem 4.5rem 0rem;
        width: 19.6rem;
        height: calc(100% - 10.1rem);

        .auto-group-yvkg-ArU {
          box-sizing: border-box;
          padding-bottom: 9.5rem;
          width: 100%;
          display: flex;
          flex-direction: column;

          .auto-group-spsk-FN8 {
            flex-shrink: 0;
            margin: 0rem 1.2rem 2.7rem 0rem;
            width: calc(100% - 1.2rem);
            display: flex;
            align-items: center;

            .logo-design-white-1-xZN {
              margin-right: 2.5rem;
              width: 4.5rem;
              height: 4.9rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
            .vincrypt-prU {
              margin-top: 0.1rem;
              letter-spacing: -0.026rem;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              font-size: 2.6rem;
              font-weight: 700;
              line-height: 1.2125;
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .frame-8-cXS {
            flex-shrink: 0;
            width: 19.5rem;

            .overview-j6G {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              margin: 0rem 0rem 2.3rem 2.8rem;
              font-size: 1.4rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #929292;
            }
            .frame-7-o68 {
              width: 100%;
              align-items: center;
              display: flex;
              flex-direction: column;

              .frame-1-X28 {
                display: flex;
                border-radius: 1rem;
                flex-shrink: 0;
                padding: 1.1rem 3.35rem;
                width: 100%;
                align-items: center;
                background-color: #0096ff;
                margin-bottom: 1.7rem;
                box-sizing: border-box;

                .vuesax-bold-category-okL {
                  flex-shrink: 0;
                  margin-right: 1.8rem;
                  width: 2.4rem;
                  height: 2.4rem;
                  object-fit: contain;
                  vertical-align: top;
                }
                .dashboard-hKv {
                  font-size: 1.6rem;
                  font-weight: 700;
                  line-height: 1.2125;
                  color: #dddddd;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-top: 0.1rem;
                }
              }
              .frame-2-9xc {
                align-items: center;
                border-radius: 1rem;
                flex-shrink: 0;
                box-sizing: border-box;
                padding: 1.1rem 3rem;
                width: 100%;
                display: flex;

                .vuesax-linear-document-text-GGY {
                  margin-right: 1.8rem;
                  width: 2.4rem;
                  height: 2.4rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .whitepaper-xv4 {
                  margin-top: 0.1rem;
                  font-size: 1.6rem;
                  font-weight: 700;
                  line-height: 1.2125;
                  color: #818181;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
              .auto-group-znnt-SqE {
                flex-shrink: 0;
                box-sizing: border-box;
                padding-top: 1.7rem;
                width: 100%;
                row-gap: 1.7rem;
                display: flex;
                flex-direction: column;

                .frame-3-jpL {
                  box-sizing: border-box;
                  padding: 1.1rem 3.05rem;
                  width: calc(100% - 1rem);
                  display: flex;
                  align-items: center;
                  border-radius: 1rem;
                  flex-shrink: 0;
                  margin-right: 1rem;

                  .vuesax-linear-empty-wallet-xBJ {
                    vertical-align: top;
                    flex-shrink: 0;
                    margin-right: 1.8rem;
                    width: 2.4rem;
                    height: 2.4rem;
                    object-fit: contain;
                  }
                  .dictionary-Ghn {
                    color: #818181;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    margin-top: 0.1rem;
                    font-size: 1.6rem;
                    font-weight: 700;
                    line-height: 1.2125;
                  }
                }
                .frame-4-C5e {
                  display: flex;
                  align-items: center;
                  border-radius: 1rem;
                  flex-shrink: 0;
                  margin-right: 1.9rem;
                  box-sizing: border-box;
                  padding: 1.1rem 5.25rem 1.1rem 2.85rem;
                  width: calc(100% - 1.9rem);

                  .vuesax-linear-status-up-ZaQ {
                    margin-right: 1.8rem;
                    width: 2.4rem;
                    height: 2.4rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                  .article-tcg {
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    margin-top: 0.1rem;
                    font-size: 1.6rem;
                    font-weight: 700;
                    line-height: 1.2125;
                    color: #818181;
                  }
                }
                .frame-6-1hJ {
                  box-sizing: border-box;
                  padding: 1.1rem 2.85rem;
                  width: calc(100% - 1.9rem);
                  display: flex;
                  align-items: center;
                  border-radius: 1rem;
                  flex-shrink: 0;
                  margin-right: 1.9rem;

                  .vuesax-linear-arrange-square-jtC {
                    vertical-align: top;
                    flex-shrink: 0;
                    margin-right: 1.8rem;
                    width: 2.4rem;
                    height: 2.4rem;
                    object-fit: contain;
                  }
                  .exchange-49n {
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    margin-top: 0.1rem;
                    font-size: 1.6rem;
                    font-weight: 700;
                    line-height: 1.2125;
                    color: #818181;
                  }
                }
              }
            }
          }
        }
        .frame-7-NAU {
          flex-direction: column;
          margin-bottom: 12.6rem;
          width: 100%;
          row-gap: 1.7rem;
          display: flex;

          .frame-2-hiY {
            width: 100%;
            height: 4.6rem;
            border-radius: 1rem;
            flex-shrink: 0;
          }
          .frame-3-EyN {
            box-sizing: border-box;
            padding: 1.1rem 3.35rem;
            width: 100%;
            display: flex;
            align-items: center;
            border-radius: 1rem;
            flex-shrink: 0;

            .vuesax-linear-profile-2user-njz {
              margin-right: 1.3rem;
              width: 2.4rem;
              height: 2.4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .personalize-8J4 {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 0.1rem;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #818181;
            }
          }
          .frame-4-FNg {
            box-sizing: border-box;
            padding: 1.1rem 5.25rem 1.1rem 3.25rem;
            width: calc(100% - 1.2rem);
            display: flex;
            align-items: center;
            border-radius: 1rem;
            flex-shrink: 0;
            margin-right: 1.2rem;

            .vuesax-outline-setting-2-mrp {
              width: 2.4rem;
              height: 2.4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.8rem;
            }
            .setting-iGG {
              color: #818181;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 0.1rem;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.2125;
            }
          }
        }
        .frame-7-EkQ {
          flex-direction: column;
          width: 17.6rem;
          row-gap: 1.7rem;
          align-items: center;
          display: flex;

          .frame-2-zDn {
            box-sizing: border-box;
            padding: 1.1rem 4.7rem 1.1rem 2.9rem;
            width: 100%;
            display: flex;
            align-items: center;
            border-radius: 1rem;
            flex-shrink: 0;

            .vuesax-outline-headphone-XzQ {
              margin-right: 1.2rem;
              width: 2.4rem;
              height: 2.4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .support-g6c {
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #818181;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 0.1rem;
            }
          }
          .frame-3-bzG {
            padding: 1.1rem 2.9rem;
            width: 100%;
            display: flex;
            align-items: center;
            border-radius: 1rem;
            flex-shrink: 0;
            box-sizing: border-box;

            .vuesax-outline-sms-edit-9Vz {
              margin-right: 1.3rem;
              width: 2.4rem;
              height: 2.4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .messages-5uS {
              line-height: 1.2125;
              color: #818181;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 0.1rem;
              font-size: 1.6rem;
              font-weight: 700;
            }
          }
          .frame-4-p6L {
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.1rem 4.95rem 1.1rem 2.85rem;
            width: 100%;
            display: flex;
            align-items: center;
            background-color: rgba(255, 0, 0, 0.0299999993);
            border-radius: 1rem;

            .vuesax-linear-logout-jUC {
              height: 2.4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.8rem;
              width: 2.4rem;
            }
            .logout-URn {
              margin-top: 0.1rem;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #e45a5a;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
      }
      .line-8-nBa {
        width: 0.1rem;
        height: 108rem;
        background-color: #e1e1e1;
        flex-shrink: 0;
      }
    }
    .auto-group-gibs-X9A {
      width: 117.9rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .frame-66-4et {
        top: 4.6rem;
        display: flex;
        align-items: center;
        width: 105.9rem;
        height: 7.2rem;
        position: absolute;
        left: 4.7rem;

        .frame-13-NvU {
          margin-right: 48.2rem;
          height: 7.3rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .dashboard-vBJ {
            margin-bottom: 0.7rem;
            font-size: 3.4rem;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            font-weight: 700;
            line-height: 1.2125;
            letter-spacing: -0.034rem;
            color: #ffffff;
            flex-shrink: 0;
          }
          .welcome-back-user--SQY {
            letter-spacing: -0.019rem;
            font-family: Inter, 'Source Sans Pro';
            display: flex;
            font-size: 1.9rem;
            font-weight: 700;
            white-space: nowrap;
            align-items: baseline;
            flex-shrink: 0;
            line-height: 1.2125;
            color: #ffffff;

            .welcome-back-user--SQY-sub-0 {
              font-size: 1.9rem;
              font-weight: 400;
              line-height: 1.2125;
              letter-spacing: -0.019rem;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
            }
            .welcome-back-user--SQY-sub-1 {
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.9rem;
              font-weight: 700;
              line-height: 1.2125;
              letter-spacing: -0.019rem;
              color: #ffffff;
            }
            .welcome-back-user--SQY-sub-2 {
            }
            .welcome-back-user--SQY-sub-3 {
              line-height: 1.2125;
              letter-spacing: -0.019rem;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.9rem;
              font-weight: 700;
            }
          }
        }
        .frame-12-pC8 {
          padding: 1.35rem 6rem;
          flex-shrink: 0;
          align-items: center;
          border: solid 0.1rem #e3e3e3;
          box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.0700000003);
          border-radius: 1rem;
          margin: 1.05rem 0;
          box-sizing: border-box;
          height: calc(100% - 2.1rem);
          display: flex;

          .search-i2c {
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.2125;
            margin: 0.1rem 19rem 0rem 0rem;
            letter-spacing: -0.016rem;
          }
          .vuesax-linear-search-normal-2JC {
            width: 2.4rem;
            height: 2.4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .frame-60-JFi {
        width: 30.8rem;
        height: 24.6rem;
        position: absolute;
        left: 81.8rem;
        top: 18.8rem;
      }
      .frame-61-dYt {
        left: 43.9rem;
        top: 19.1rem;
        width: 30.7rem;
        height: 24.8rem;
        position: absolute;
      }
      .auto-group-uxg8-NFa {
        border-radius: 2rem;
        width: 109.4rem;
        left: 4.5rem;
        height: 90.1rem;
        position: absolute;
        top: 13.3rem;
        box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.0700000003);
        background-color: #4d4d86;
        box-sizing: border-box;
        padding: 4.4rem 1.2rem 66.9rem 1.6rem;

        .our-recommendations-U3i {
          white-space: nowrap;
          margin: 0rem 0rem 7.8rem 1.7rem;
          font-size: 2.2rem;
          font-weight: 700;
          line-height: 1.2125;
          letter-spacing: -0.022rem;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
        }
        .table-n4Q {
          flex-direction: column;
          border-bottom: solid 0.1rem #fbfbfb;
          box-sizing: border-box;
          padding-bottom: 1.6rem;
          width: 100%;
          display: flex;

          .frame-9-uui {
            margin: 0rem 0rem 1.5rem 1.6rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .symbol-TAY {
              flex-shrink: 0;
              margin-right: 15.5rem;
              font-size: 1.4rem;
              font-weight: 700;
              line-height: 1.2175;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
            }
            .coin-name-mwv {
              margin-right: 12.9rem;
              font-size: 1.4rem;
              font-weight: 700;
              line-height: 1.2175;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .block-time-7Vz {
              flex-shrink: 0;
              margin-right: 12.8rem;
              font-size: 1.4rem;
              font-weight: 700;
              line-height: 1.2175;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
            }
            .technical-rCg {
              font-size: 1.4rem;
              font-weight: 700;
              line-height: 1.2175;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 13.6rem;
            }
            .project-a8g {
              font-weight: 700;
              line-height: 1.2175;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
            }
          }
          .line-9-Wo2 {
            flex-shrink: 0;
            margin-bottom: 1.3rem;
            width: 100%;
            height: 0.3rem;
            background-color: #ffffff;
          }
          .frame-10-4Jk {
            margin: 0rem 0rem 1.5rem 1.6rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .coinsymbol-nkY {
              margin-right: 11.8rem;
              font-size: 1.4rem;
              font-weight: 700;
              line-height: 1.2175;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .coinname-vrk {
              flex-shrink: 0;
              margin-right: 12.9rem;
              font-size: 1.4rem;
              font-weight: 700;
              line-height: 1.2175;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
            }
            .blocktime-gjS {
              flex-shrink: 0;
              margin-right: 12.8rem;
              font-size: 1.4rem;
              font-weight: 700;
              line-height: 1.2175;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
            }
            .technical-2HW {
              line-height: 1.2175;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 13.6rem;
              font-size: 1.4rem;
              font-weight: 700;
            }
            .project-ZoE {
              font-weight: 700;
              line-height: 1.2175;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
            }
          }
        }
      }
    }
    .line-1-EuN {
      width: 0.1rem;
      height: 108rem;
      background-color: #e1e1e1;
      flex-shrink: 0;
    }
    .auto-group-965w-BJp {
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 5.3rem 4.2rem 63.4rem 2.5rem;
      width: 47.1rem;
      height: 100%;
      align-items: center;
      display: flex;

      .frame-69-VaQ {
        margin: 0rem 0rem 3.3rem 17.3rem;
        width: 18.5rem;
        height: 6.6rem;
        flex-shrink: 0;

        .frame-68-pcg {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;

          .username-Nu6 {
            margin-right: 3rem;
            font-size: 1.8rem;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-weight: 700;
            line-height: 1.2125;
            letter-spacing: -0.018rem;
          }
          .group-20-u8L {
            width: 6.6rem;
            height: 100%;
            border-radius: 9.9rem;
            flex-shrink: 0;

            .group-6-rJU {
              width: 100%;
              height: 100%;
              border-radius: 9.9rem;

              .rectangle-4-d4L {
                width: 100%;
                height: 6.6rem;
                background-color: #d7d7d7;
                border-radius: 9.9rem;
              }
            }
          }
        }
      }
      .frame-37-8Fz {
        display: flex;
        background-color: #4d4d86;
        border-radius: 2rem;
        box-sizing: border-box;
        padding: 2.5rem 2.3rem 2.8rem 3.3rem;
        width: 100%;
        flex-direction: column;
        box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.0700000003);
        flex-shrink: 0;

        .wallet-id-dTe {
          margin-bottom: 2.4rem;
          font-size: 2.7rem;
          line-height: 1.2125;
          letter-spacing: -0.027rem;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          font-weight: 700;
          flex-shrink: 0;
        }
        .frame-32-uvx {
          margin-bottom: 3.5rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .insert-your-wallet-id-here-f9S {
            line-height: 1.2125;
            letter-spacing: -0.014rem;
            color: #ffffff;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 400;
            white-space: nowrap;
            margin-bottom: 1.2rem;
            font-family: Inter, 'Source Sans Pro';
          }
          .frame-31-B7n {
            flex-shrink: 0;
            width: 100%;
            height: 6rem;
            border: solid 0.1rem #ebebeb;
            box-sizing: border-box;
            box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.0900000036);
            border-radius: 1rem;
          }
        }
        .frame-31-V8U {
          display: flex;
          justify-content: center;
          box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.0700000003);
          flex-shrink: 0;
          height: 6rem;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          align-items: center;
          background-color: #0096ff;
          color: #ffffff;
          white-space: nowrap;
          border-radius: 1rem;
          width: 100%;
          font-size: 1.6rem;
          font-weight: 700;
          letter-spacing: -0.016rem;
        }
      }
    }
  }
}
