
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.whitepaper-JTa {
  width: 100%;
  height: 108rem;
  border-radius: 1rem;

  .crypto-whitepaper-pgp {
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    box-sizing: border-box;
    padding-left: 3.8rem;
    width: 100%;
    position: relative;
    background: linear-gradient(180deg, #47479e -0%, #21212f 100%);

    .frame-87-YMv {
      width: 23.2rem;
      height: 100%;
      border-right: solid 0.1rem #e1e1e1;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 5.6rem 0rem 4.5rem 0rem;

      .auto-group-qzkc-fBe {
        width: 19.6rem;
        height: 100%;

        .auto-group-9ous-oHr {
          display: flex;
          flex-direction: column;
          box-sizing: border-box;
          padding-bottom: 9.5rem;
          width: 100%;

          .auto-group-stxa-jhJ {
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 1.2rem 2.7rem 0rem;
            width: calc(100% - 1.2rem);
            display: flex;

            .logo-design-white-1-FvY {
              margin-right: 2.5rem;
              width: 4.5rem;
              height: 4.9rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
            .vincrypt-BJQ {
              white-space: nowrap;
              margin-top: 0.1rem;
              font-size: 2.6rem;
              font-weight: 700;
              line-height: 1.2125;
              letter-spacing: -0.026rem;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
            }
          }
          .frame-8-r9e {
            width: 19.5rem;
            flex-shrink: 0;

            .overview-noz {
              white-space: nowrap;
              margin: 0rem 0rem 2.3rem 2.8rem;
              font-size: 1.4rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #929292;
              font-family: Inter, 'Source Sans Pro';
            }
            .frame-7-HVr {
              width: 100%;
              align-items: center;
              display: flex;
              flex-direction: column;

              .frame-1-dpc {
                width: 100%;
                display: flex;
                flex-shrink: 0;
                align-items: center;
                background-color: #3b3b7d;
                border-radius: 1rem;
                margin-bottom: 1.7rem;
                box-sizing: border-box;
                padding: 1.1rem 3.35rem;

                .vuesax-bold-category-ZyA {
                  width: 2.4rem;
                  height: 2.4rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 1.8rem;
                }
                .dashboard-UqE {
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-top: 0.1rem;
                  font-size: 1.6rem;
                  font-weight: 700;
                  line-height: 1.2125;
                  color: #818181;
                }
              }
              .frame-2-a7a {
                align-items: center;
                background-color: #0096ff;
                border-radius: 1rem;
                flex-shrink: 0;
                box-sizing: border-box;
                padding: 1.1rem 3rem;
                width: 100%;
                display: flex;

                .vuesax-linear-document-text-ufe {
                  margin-right: 1.8rem;
                  width: 2.4rem;
                  height: 2.4rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .whitepaper-qZJ {
                  color: #ffffff;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-top: 0.1rem;
                  font-size: 1.6rem;
                  font-weight: 700;
                  line-height: 1.2125;
                }
              }
              .auto-group-mgil-9Zz {
                width: 100%;
                row-gap: 1.7rem;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                box-sizing: border-box;
                padding-top: 1.7rem;

                .frame-3-HAQ {
                  margin-right: 1rem;
                  box-sizing: border-box;
                  padding: 1.1rem 3.05rem;
                  width: calc(100% - 1rem);
                  display: flex;
                  align-items: center;
                  border-radius: 1rem;
                  flex-shrink: 0;

                  .vuesax-linear-empty-wallet-ouS {
                    flex-shrink: 0;
                    margin-right: 1.8rem;
                    width: 2.4rem;
                    height: 2.4rem;
                    object-fit: contain;
                    vertical-align: top;
                  }
                  .dictionary-vz4 {
                    font-size: 1.6rem;
                    font-weight: 700;
                    line-height: 1.2125;
                    color: #818181;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    margin-top: 0.1rem;
                  }
                }
                .frame-4-FWY {
                  flex-shrink: 0;
                  margin-right: 1.9rem;
                  box-sizing: border-box;
                  padding: 1.1rem 5.25rem 1.1rem 2.85rem;
                  width: calc(100% - 1.9rem);
                  display: flex;
                  align-items: center;
                  border-radius: 1rem;

                  .vuesax-linear-status-up-a32 {
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                    margin-right: 1.8rem;
                    width: 2.4rem;
                    height: 2.4rem;
                  }
                  .article-JDv {
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    margin-top: 0.1rem;
                    font-size: 1.6rem;
                    font-weight: 700;
                    line-height: 1.2125;
                    color: #818181;
                  }
                }
                .frame-6-DLt {
                  border-radius: 1rem;
                  flex-shrink: 0;
                  margin-right: 1.9rem;
                  box-sizing: border-box;
                  padding: 1.1rem 2.85rem;
                  width: calc(100% - 1.9rem);
                  display: flex;
                  align-items: center;

                  .vuesax-linear-arrange-square-kbi {
                    margin-right: 1.8rem;
                    width: 2.4rem;
                    height: 2.4rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                  .exchange-fTn {
                    flex-shrink: 0;
                    margin-top: 0.1rem;
                    font-size: 1.6rem;
                    font-weight: 700;
                    line-height: 1.2125;
                    color: #818181;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                  }
                }
              }
            }
          }
        }
        .frame-7-Zp4 {
          flex-direction: column;
          margin-bottom: 12.6rem;
          width: 100%;
          row-gap: 1.7rem;
          display: flex;

          .frame-2-u7E {
            width: 100%;
            height: 4.6rem;
            border-radius: 1rem;
            flex-shrink: 0;
          }
          .frame-3-Ssr {
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.1rem 3.35rem;
            width: 100%;
            display: flex;
            align-items: center;
            border-radius: 1rem;

            .vuesax-linear-profile-2user-bEx {
              height: 2.4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.3rem;
              width: 2.4rem;
            }
            .personalize-umS {
              color: #818181;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 0.1rem;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.2125;
            }
          }
          .frame-4-Dn8 {
            width: calc(100% - 1.2rem);
            display: flex;
            align-items: center;
            border-radius: 1rem;
            flex-shrink: 0;
            margin-right: 1.2rem;
            box-sizing: border-box;
            padding: 1.1rem 5.25rem 1.1rem 3.25rem;

            .vuesax-outline-setting-2-wCL {
              width: 2.4rem;
              height: 2.4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.8rem;
            }
            .setting-TwN {
              font-weight: 700;
              line-height: 1.2125;
              color: #818181;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 0.1rem;
              font-size: 1.6rem;
            }
          }
        }
        .frame-7-nCx {
          align-items: center;
          display: flex;
          flex-direction: column;
          width: 17.6rem;
          row-gap: 1.7rem;

          .frame-2-XAY {
            padding: 1.1rem 4.7rem 1.1rem 2.9rem;
            width: 100%;
            display: flex;
            align-items: center;
            border-radius: 1rem;
            flex-shrink: 0;
            box-sizing: border-box;

            .vuesax-outline-headphone-rTi {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.2rem;
              width: 2.4rem;
              height: 2.4rem;
            }
            .support-n6U {
              font-weight: 700;
              line-height: 1.2125;
              color: #818181;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 0.1rem;
              font-size: 1.6rem;
            }
          }
          .frame-3-hUL {
            display: flex;
            align-items: center;
            border-radius: 1rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.1rem 2.9rem;
            width: 100%;

            .vuesax-outline-sms-edit-Sgp {
              margin-right: 1.3rem;
              width: 2.4rem;
              height: 2.4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .messages-yRr {
              flex-shrink: 0;
              margin-top: 0.1rem;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #818181;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .frame-4-tYp {
            display: flex;
            align-items: center;
            background-color: rgba(255, 0, 0, 0.0299999993);
            border-radius: 1rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.1rem 4.95rem 1.1rem 2.85rem;
            width: 100%;

            .vuesax-linear-logout-29E {
              width: 2.4rem;
              height: 2.4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.8rem;
            }
            .logout-Z9A {
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #e45a5a;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 0.1rem;
            }
          }
        }
      }
    }
    .auto-group-gmtt-3KE {
      align-items: flex-start;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0rem 4.2rem 0rem 4.4rem;
      height: 100%;
      display: flex;

      .auto-group-hyat-mFE {
        margin: 4.6rem 4rem 4.6rem 0rem;
        width: 109.4rem;
        height: calc(100% - 9.2rem);
        flex-shrink: 0;

        .frame-66-UQY {
          margin: 0rem 2.7rem 1.4rem 0.2rem;
          width: calc(100% - 2.9rem);
          height: 7.3rem;
          display: flex;
          align-items: center;

          .frame-13-PXW {
            margin-right: 48.2rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .dashboard-k7A {
              font-weight: 700;
              letter-spacing: -0.034rem;
              color: #ffffff;
              white-space: nowrap;
              margin-bottom: 0.7rem;
              font-size: 3.4rem;
              line-height: 1.2125;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
            }
            .welcome-back-user--rR6 {
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
              font-weight: 700;
              line-height: 1.2125;
              align-items: baseline;
              flex-shrink: 0;
              font-size: 1.9rem;
              letter-spacing: -0.019rem;

              .welcome-back-user--rR6-sub-0 {
                letter-spacing: -0.019rem;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.9rem;
                font-weight: 400;
                line-height: 1.2125;
              }
              .welcome-back-user--rR6-sub-1 {
                font-weight: 700;
                line-height: 1.2125;
                letter-spacing: -0.019rem;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.9rem;
              }
              .welcome-back-user--rR6-sub-2 {
              }
              .welcome-back-user--rR6-sub-3 {
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.9rem;
                font-weight: 700;
                line-height: 1.2125;
                letter-spacing: -0.019rem;
                color: #ffffff;
              }
            }
          }
          .frame-12-j12 {
            box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.0700000003);
            margin: 1.05rem 0rem 1.15rem 0rem;
            align-items: center;
            border: solid 0.1rem #e3e3e3;
            display: flex;
            border-radius: 1rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.35rem 6rem;
            height: calc(100% - 2.2rem);

            .search-cqW {
              line-height: 1.2125;
              letter-spacing: -0.016rem;
              flex-shrink: 0;
              margin: 0.1rem 19rem 0rem 0rem;
              font-size: 1.6rem;
              font-weight: 400;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
            .vuesax-linear-search-normal-vLQ {
              vertical-align: top;
              flex-shrink: 0;
              width: 2.4rem;
              height: 2.4rem;
              object-fit: contain;
            }
          }
        }
        .auto-group-acqe-ypU {
          height: 90.1rem;
          position: relative;
          box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.0700000003);
          background-color: #4d4d86;
          border-radius: 2rem;
          width: 100%;

          .rectangle-167-WZW {
            background-color: #4d4d86;
            width: 103.5rem;
            height: 84rem;
            position: absolute;
            left: 3.2rem;
            top: 2.7rem;
          }
          .introduction-pq6 {
            height: 4.9rem;
            position: absolute;
            left: 4.3rem;
            font-size: 4rem;
            line-height: 1.2125;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            width: 23.2rem;
            white-space: nowrap;
            font-weight: 700;
            letter-spacing: -0.08rem;
            top: 3.9rem;
          }
          .welcome-to-the-whitepaper-of-vincrypt-smartfolio-a-groundbreaking-platform-that-aims-to-empower-investors-in-building-their-portfolios-using-reliable-and-adaptive-research-on-hundreds-of-potential-cryptocurrencies-in-this-document-we-will-present-an-overview-vision-mission-utility-and-the-essence-of-our-project-overview-vincrypt-smartfolio-is-an-all-in-one-platform-designed-to-revolutionize-the-way-investors-build-and-manage-their-cryptocurrency-portfolios-we-understand-the-challenges-faced-by-investors-in-identifying-promising-investment-opportunities-amidst-the-dynamic-crypto-market-therefore-our-platform-combines-reliable-research-adaptive-algorithms-and-powerful-analytics-to-guide-users-in-making-informed-investment-decisions-vision-our-vision-is-to-become-the-go-to-platform-for-investors-seeking-reliable-and-adaptive-cryptocurrency-research-we-strive-to-empower-users-regardless-of-their-experience-level-to-build-well-diversified-portfolios-that-maximize-the-potential-of-their-investments-through-our-platform-we-aim-to-provide-access-to-reliable-information-enabling-investors-to-navigate-the-crypto-market-with-confidence-mission-our-mission-is-to-provide-a-user-friendly-platform-that-offers-comprehensive-and-up-to-date-research-on-a-wide-range-of-cryptocurrencies-by-utilizing-cutting-edge-technology-adaptive-algorithms-and-expert-analysis-we-aim-to-deliver-actionable-insights-and-recommendations-that-cater-to-each-investors-unique-investment-goals-we-are-dedicatedto-helping-investors-build-portfolios-that-align-with-their-risk-appetite-and-investment-strategies-WT2 {
            left: 3.2rem;
            font-weight: 700;
            line-height: 1.2125;
            top: 9.9rem;
            font-size: 2rem;
            letter-spacing: -0.04rem;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            width: 103.2rem;
            height: 67.9rem;
            position: absolute;
          }
        }
      }
      .line-1-W16 {
        width: 0rem;
        height: 0.1rem;
        background-color: #e1e1e1;
        flex-shrink: 0;
        margin-right: 2.6rem;
      }
      .auto-group-3zbj-ESt {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 5.3rem 0rem 8rem 0rem;
        width: 40.4rem;
        height: calc(100% - 13.3rem);
        align-items: flex-end;

        .frame-68-wcC {
          margin: 0rem 2.3rem 0.8rem 19.6rem;
          width: calc(100% - 21.9rem);
          height: 6.6rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .username-TqS {
            color: #ffffff;
            flex-shrink: 0;
            margin-right: 3rem;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.2125;
            letter-spacing: -0.018rem;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .group-20-n72 {
            width: 6.6rem;
            height: 100%;
            border-radius: 9.9rem;
            flex-shrink: 0;

            .group-6-8Rn {
              width: 100%;
              height: 100%;
              border-radius: 9.9rem;

              .rectangle-4-gy6 {
                width: 100%;
                height: 6.6rem;
                background-color: #d7d7d7;
                border-radius: 9.9rem;
              }
            }
          }
        }
        .frame-37-1Eg {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.5rem 2.3rem 60.7rem 3.3rem;
          align-items: center;
          flex-direction: column;
          background-color: #4d4d86;
          border-radius: 2rem;
          width: 100%;
          display: flex;
          box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.0700000003);

          .wallet-id-L24 {
            font-weight: 700;
            line-height: 1.2125;
            letter-spacing: -0.027rem;
            color: #ffffff;
            flex-shrink: 0;
            margin: 0rem 6.2rem 2.4rem 0rem;
            font-size: 2.7rem;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .auto-group-htgg-RpC {
            box-sizing: border-box;
            padding-bottom: 4.5rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .frame-32-AFz {
              line-height: 1.2125;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 3.3rem;
              height: 8.9rem;
              font-size: 1.4rem;
              font-weight: 400;
              letter-spacing: -0.014rem;
              color: #ffffff;
              width: 100%;
            }
            .insert-content-here-q7E {
              line-height: 1.2125;
              letter-spacing: -0.014rem;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}
