
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.whitepaper-uAG {
  width: 100%;
  height: 108rem;

  .crypto-whitepaper-ETS {
    width: 100%;
    overflow: hidden;
    position: relative;
    align-items: center;
    background: linear-gradient(180deg, #47479e -0%, rgba(29, 29, 69, 0.0399999991) 100%);
    border-radius: 1rem;
    box-sizing: border-box;
    padding-left: 3.8rem;
    height: 100%;
    display: flex;

    .frame-87-ZVi {
      box-sizing: border-box;
      padding: 5.6rem 0rem 4.5rem 0rem;
      width: 23.2rem;
      height: 100%;
      border-right: solid 0.1rem #e1e1e1;
      flex-shrink: 0;

      .auto-group-p7ma-V8U {
        width: 19.6rem;
        height: 100%;

        .auto-group-jwkc-dkU {
          padding-bottom: 9.5rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          box-sizing: border-box;

          .auto-group-xdzp-mrg {
            margin: 0rem 1.2rem 2.7rem 0rem;
            width: calc(100% - 1.2rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .logo-design-white-1-79r {
              margin-right: 2.5rem;
              width: 4.5rem;
              height: 4.9rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
            .vincrypt-RgL {
              font-weight: 700;
              line-height: 1.2125;
              color: #ffffff;
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 0.1rem;
              font-size: 2.6rem;
              letter-spacing: -0.026rem;
              font-family: Inter, 'Source Sans Pro';
            }
          }
          .frame-8-7ZA {
            flex-shrink: 0;
            width: 19.5rem;

            .overview-g6U {
              font-weight: 700;
              line-height: 1.2125;
              color: #929292;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              margin: 0rem 0rem 2.3rem 2.8rem;
              font-size: 1.4rem;
            }
            .frame-7-PFn {
              width: 100%;
              align-items: center;
              display: flex;
              flex-direction: column;

              .frame-1-k6L {
                margin-bottom: 1.7rem;
                box-sizing: border-box;
                width: 100%;
                display: flex;
                align-items: center;
                padding: 1.1rem 3.35rem;
                background-color: #3b3b7d;
                border-radius: 1rem;
                flex-shrink: 0;

                .vuesax-bold-category-V3v {
                  height: 2.4rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 1.8rem;
                  width: 2.4rem;
                }
                .dashboard-1nx {
                  line-height: 1.2125;
                  color: #818181;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-top: 0.1rem;
                  font-size: 1.6rem;
                  font-weight: 700;
                }
              }
              .frame-2-L4Y {
                border-radius: 1rem;
                flex-shrink: 0;
                box-sizing: border-box;
                padding: 1.1rem 3rem;
                width: 100%;
                display: flex;
                align-items: center;
                background-color: #0096ff;

                .vuesax-linear-document-text-fcc {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 1.8rem;
                  width: 2.4rem;
                  height: 2.4rem;
                }
                .whitepaper-Q4Q {
                  line-height: 1.2125;
                  color: #ffffff;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-top: 0.1rem;
                  font-size: 1.6rem;
                  font-weight: 700;
                }
              }
              .auto-group-7oxv-KSG {
                flex-direction: column;
                flex-shrink: 0;
                box-sizing: border-box;
                padding-top: 1.7rem;
                width: 100%;
                row-gap: 1.7rem;
                display: flex;

                .frame-3-rwz {
                  display: flex;
                  align-items: center;
                  border-radius: 1rem;
                  flex-shrink: 0;
                  margin-right: 1rem;
                  box-sizing: border-box;
                  padding: 1.1rem 3.05rem;
                  width: calc(100% - 1rem);

                  .vuesax-linear-empty-wallet-oMS {
                    height: 2.4rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                    margin-right: 1.8rem;
                    width: 2.4rem;
                  }
                  .dictionary-8ec {
                    white-space: nowrap;
                    flex-shrink: 0;
                    margin-top: 0.1rem;
                    font-size: 1.6rem;
                    font-weight: 700;
                    line-height: 1.2125;
                    color: #818181;
                    font-family: Inter, 'Source Sans Pro';
                  }
                }
                .frame-4-TRz {
                  padding: 1.1rem 5.25rem 1.1rem 2.85rem;
                  width: calc(100% - 1.9rem);
                  display: flex;
                  align-items: center;
                  border-radius: 1rem;
                  flex-shrink: 0;
                  margin-right: 1.9rem;
                  box-sizing: border-box;

                  .vuesax-linear-status-up-zB2 {
                    height: 2.4rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                    margin-right: 1.8rem;
                    width: 2.4rem;
                  }
                  .article-vaU {
                    font-size: 1.6rem;
                    font-weight: 700;
                    line-height: 1.2125;
                    color: #818181;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    margin-top: 0.1rem;
                  }
                }
                .frame-6-TKW {
                  margin-right: 1.9rem;
                  box-sizing: border-box;
                  padding: 1.1rem 2.85rem;
                  width: calc(100% - 1.9rem);
                  display: flex;
                  align-items: center;
                  border-radius: 1rem;
                  flex-shrink: 0;

                  .vuesax-linear-arrange-square-Pix {
                    margin-right: 1.8rem;
                    width: 2.4rem;
                    height: 2.4rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                  .exchange-vD6 {
                    margin-top: 0.1rem;
                    font-size: 1.6rem;
                    font-weight: 700;
                    line-height: 1.2125;
                    color: #818181;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                }
              }
            }
          }
        }
        .frame-7-q5A {
          display: flex;
          flex-direction: column;
          margin-bottom: 12.6rem;
          width: 100%;
          row-gap: 1.7rem;

          .frame-2-yBN {
            border-radius: 1rem;
            flex-shrink: 0;
            width: 100%;
            height: 4.6rem;
          }
          .frame-3-KFE {
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.1rem 3.35rem;
            width: 100%;
            display: flex;
            align-items: center;
            border-radius: 1rem;

            .vuesax-linear-profile-2user-fK6 {
              height: 2.4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.3rem;
              width: 2.4rem;
            }
            .personalize-CZv {
              line-height: 1.2125;
              color: #818181;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 0.1rem;
              font-size: 1.6rem;
              font-weight: 700;
            }
          }
          .frame-4-vVv {
            box-sizing: border-box;
            padding: 1.1rem 5.25rem 1.1rem 3.25rem;
            width: calc(100% - 1.2rem);
            display: flex;
            align-items: center;
            border-radius: 1rem;
            flex-shrink: 0;
            margin-right: 1.2rem;

            .vuesax-outline-setting-2-Fo6 {
              margin-right: 1.8rem;
              width: 2.4rem;
              height: 2.4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .setting-zkg {
              font-weight: 700;
              line-height: 1.2125;
              color: #818181;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 0.1rem;
              font-size: 1.6rem;
            }
          }
        }
        .frame-7-86C {
          display: flex;
          flex-direction: column;
          width: 17.6rem;
          row-gap: 1.7rem;
          align-items: center;

          .frame-2-GiC {
            align-items: center;
            border-radius: 1rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.1rem 4.7rem 1.1rem 2.9rem;
            width: 100%;
            display: flex;

            .vuesax-outline-headphone-D7e {
              flex-shrink: 0;
              margin-right: 1.2rem;
              width: 2.4rem;
              height: 2.4rem;
              object-fit: contain;
              vertical-align: top;
            }
            .support-9X6 {
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 0.1rem;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #818181;
              font-family: Inter, 'Source Sans Pro';
            }
          }
          .frame-3-gX2 {
            box-sizing: border-box;
            padding: 1.1rem 2.9rem;
            width: 100%;
            display: flex;
            align-items: center;
            border-radius: 1rem;
            flex-shrink: 0;

            .vuesax-outline-sms-edit-SFJ {
              flex-shrink: 0;
              margin-right: 1.3rem;
              width: 2.4rem;
              height: 2.4rem;
              object-fit: contain;
              vertical-align: top;
            }
            .messages-aMW {
              margin-top: 0.1rem;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #818181;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .frame-4-hwv {
            width: 100%;
            display: flex;
            align-items: center;
            background-color: rgba(255, 0, 0, 0.0299999993);
            border-radius: 1rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.1rem 4.95rem 1.1rem 2.85rem;

            .vuesax-linear-logout-qYL {
              margin-right: 1.8rem;
              width: 2.4rem;
              height: 2.4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .logout-nCg {
              flex-shrink: 0;
              margin-top: 0.1rem;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #e45a5a;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
      }
    }
    .auto-group-qxqz-tFi {
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0rem 4.2rem 0rem 4.4rem;
      height: 100%;

      .auto-group-nacp-pQG {
        height: calc(100% - 9.2rem);
        flex-shrink: 0;
        margin: 4.6rem 4rem 4.6rem 0rem;
        width: 109.4rem;

        .frame-66-9Be {
          align-items: center;
          margin: 0rem 2.7rem 1.4rem 0.2rem;
          width: calc(100% - 2.9rem);
          height: 7.3rem;
          display: flex;

          .frame-13-Ty2 {
            margin-right: 48.2rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .dashboard-Q7a {
              letter-spacing: -0.034rem;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              margin-bottom: 0.7rem;
              font-size: 3.4rem;
              line-height: 1.2125;
              font-weight: 700;
              color: #ffffff;
              white-space: nowrap;
            }
            .welcome-back-user--UdE {
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              align-items: baseline;
              font-size: 1.9rem;
              line-height: 1.2125;
              letter-spacing: -0.019rem;
              flex-shrink: 0;
              font-weight: 700;
              white-space: nowrap;
              display: flex;

              .welcome-back-user--UdE-sub-0 {
                font-weight: 400;
                line-height: 1.2125;
                letter-spacing: -0.019rem;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.9rem;
              }
              .welcome-back-user--UdE-sub-1 {
                letter-spacing: -0.019rem;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.9rem;
                font-weight: 700;
                line-height: 1.2125;
              }
              .welcome-back-user--UdE-sub-2 {
              }
              .welcome-back-user--UdE-sub-3 {
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.9rem;
                font-weight: 700;
                line-height: 1.2125;
                letter-spacing: -0.019rem;
              }
            }
          }
          .frame-12-A2C {
            margin: 1.05rem 0rem 1.15rem 0rem;
            padding: 1.35rem 6rem;
            display: flex;
            border: solid 0.1rem #e3e3e3;
            border-radius: 1rem;
            flex-shrink: 0;
            box-sizing: border-box;
            height: calc(100% - 2.2rem);
            align-items: center;
            box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.0700000003);

            .search-FZS {
              line-height: 1.2125;
              letter-spacing: -0.016rem;
              color: #ffffff;
              white-space: nowrap;
              margin: 0.1rem 19rem 0rem 0rem;
              font-size: 1.6rem;
              flex-shrink: 0;
              font-weight: 400;
              font-family: Inter, 'Source Sans Pro';
            }
            .vuesax-linear-search-normal-whA {
              vertical-align: top;
              flex-shrink: 0;
              width: 2.4rem;
              height: 2.4rem;
              object-fit: contain;
            }
          }
        }
        .auto-group-atm2-RsE {
          box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.0700000003);
          background-color: #4d4d86;
          border-radius: 2rem;
          box-sizing: border-box;
          padding: 3.5rem 5.1rem 2.4rem 5.1rem;
          width: 100%;
          height: 90.1rem;

          .page-frame-ZTe {
            height: 100%;
            overflow: hidden;
            position: relative;
            background-color: #4d4d86;
            box-sizing: border-box;
            padding: 10.4rem 6.4rem 8.9rem 6.4rem;
            width: 91.2rem;

            .page-header-VMJ {
              margin-bottom: 2.1rem;
              max-width: 30.3rem;
              font-size: 7.2rem;
              font-weight: 700;
              line-height: 1.1111111111;
              letter-spacing: -0.144rem;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
            }
            .table-of-contents-DHJ {
              display: flex;
              flex-direction: column;
              margin-bottom: 25.6118rem;
              width: 67.1rem;
              align-items: center;

              .auto-group-ndep-9Rr {
                margin-bottom: 2.1544rem;
                width: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .body-W1W {
                  color: #ffffff;
                  white-space: nowrap;
                  margin-right: 1.9rem;
                  font-size: 1.2rem;
                  line-height: 1.3333333333;
                  letter-spacing: 0.024rem;
                  font-weight: 400;
                  font-family: Roboto, 'Source Sans Pro';
                  flex-shrink: 0;
                }
                .body-RuA {
                  text-align: right;
                  font-weight: 400;
                  letter-spacing: 0.024rem;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  line-height: 1.3333333333;
                  color: #fcf2f2;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
              .auto-group-rzha-mCL {
                margin-bottom: 2.3176rem;
                width: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .body-Wfi {
                  font-size: 1.2rem;
                  font-weight: 400;
                  line-height: 1.3333333333;
                  color: #ffffff;
                  margin: 0.163rem 1.8rem 0rem 0rem;
                  letter-spacing: 0.024rem;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .body-dkL {
                  margin-bottom: 0.1632rem;
                  text-align: right;
                  font-size: 1.2rem;
                  font-weight: 400;
                  letter-spacing: 0.024rem;
                  flex-shrink: 0;
                  line-height: 1.3333333333;
                  color: #fcf2f2;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
              .auto-group-q6yq-mLk {
                margin-bottom: 2.3177rem;
                width: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .body-8BJ {
                  font-weight: 400;
                  line-height: 1.3333333333;
                  color: #ffffff;
                  flex-shrink: 0;
                  white-space: nowrap;
                  margin-right: 1.8rem;
                  font-size: 1.2rem;
                  letter-spacing: 0.024rem;
                  font-family: Roboto, 'Source Sans Pro';
                }
                .body-efS {
                  letter-spacing: 0.024rem;
                  color: #fcf2f2;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  text-align: right;
                  font-size: 1.2rem;
                  font-weight: 400;
                  line-height: 1.3333333333;
                }
              }
              .auto-group-cqf6-NrL {
                margin-bottom: 2.3177rem;
                width: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .body-jgt {
                  letter-spacing: 0.024rem;
                  color: #ffffff;
                  font-family: Roboto, 'Source Sans Pro';
                  font-size: 1.2rem;
                  font-weight: 400;
                  line-height: 1.3333333333;
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-right: 1.8rem;
                }
                .body-so6 {
                  font-size: 1.2rem;
                  letter-spacing: 0.024rem;
                  color: #fcf2f2;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  text-align: right;
                  line-height: 1.3333333333;
                  flex-shrink: 0;
                  font-weight: 400;
                }
              }
              .auto-group-nnkp-ckg {
                width: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin-bottom: 2.3176rem;

                .body-BHz {
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 400;
                  line-height: 1.3333333333;
                  letter-spacing: 0.024rem;
                  color: #ffffff;
                  margin-right: 1.8rem;
                  font-family: Roboto, 'Source Sans Pro';
                }
                .body-JdW {
                  font-size: 1.2rem;
                  color: #fcf2f2;
                  text-align: right;
                  line-height: 1.3333333333;
                  letter-spacing: 0.024rem;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-weight: 400;
                }
              }
              .auto-group-kvxs-3b6 {
                align-items: center;
                flex-shrink: 0;
                width: 100%;
                display: flex;

                .body-Cyn {
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  font-size: 1.2rem;
                  font-weight: 400;
                  line-height: 1.3333333333;
                  letter-spacing: 0.024rem;
                  color: #ffffff;
                  flex-shrink: 0;
                  margin-right: 1.8rem;
                }
                .body-Ynk {
                  font-size: 1.2rem;
                  font-weight: 400;
                  white-space: nowrap;
                  text-align: right;
                  line-height: 1.3333333333;
                  letter-spacing: 0.024rem;
                  color: #fcf2f2;
                  font-family: Roboto, 'Source Sans Pro';
                  flex-shrink: 0;
                }
              }
            }
            .line-2-tLp {
              width: 6.4rem;
              height: 0;
              object-fit: contain;
              vertical-align: top;
            }
          }
        }
      }
      .line-1-PoN {
        flex-shrink: 0;
        margin-right: 2.6rem;
        width: 0rem;
        height: 0.1rem;
        background-color: #e1e1e1;
      }
      .auto-group-fngg-jsE {
        width: 40.4rem;
        height: calc(100% - 13.3rem);
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 5.3rem 0rem 8rem 0rem;

        .frame-68-rwr {
          margin: 0rem 2.3rem 0.8rem 19.6rem;
          width: calc(100% - 21.9rem);
          height: 6.6rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .username-Bz8 {
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 3rem;
            font-size: 1.8rem;
            letter-spacing: -0.018rem;
            font-family: Inter, 'Source Sans Pro';
            font-weight: 700;
            line-height: 1.2125;
            color: #ffffff;
          }
          .group-20-vRv {
            height: 100%;
            border-radius: 9.9rem;
            flex-shrink: 0;
            width: 6.6rem;

            .group-6-gfz {
              width: 100%;
              height: 100%;
              border-radius: 9.9rem;

              .rectangle-4-f8c {
                width: 100%;
                height: 6.6rem;
                background-color: #d7d7d7;
                border-radius: 9.9rem;
              }
            }
          }
        }
        .frame-37-PaQ {
          flex-direction: column;
          background-color: #4d4d86;
          flex-shrink: 0;
          width: 100%;
          display: flex;
          align-items: center;
          box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.0700000003);
          border-radius: 2rem;
          box-sizing: border-box;
          padding: 2.5rem 2.3rem 60.7rem 3.3rem;

          .wallet-id-XRi {
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 2.7rem;
            line-height: 1.2125;
            letter-spacing: -0.027rem;
            flex-shrink: 0;
            margin: 0rem 6.2rem 2.4rem 0rem;
            font-weight: 700;
          }
          .auto-group-fffn-Eb2 {
            box-sizing: border-box;
            padding-bottom: 4.5rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .frame-32-BmA {
              white-space: nowrap;
              margin-bottom: 3.3rem;
              height: 8.9rem;
              font-size: 1.4rem;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              width: 100%;
              font-weight: 400;
              line-height: 1.2125;
              letter-spacing: -0.014rem;
            }
            .insert-content-here-hjW {
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.2125;
              letter-spacing: -0.014rem;
            }
          }
        }
      }
    }
  }
}
