
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.whitepaper-cHW {
  border-radius: 1rem;
  width: 100%;
  height: 108rem;

  .crypto-whitepaper-kec {
    box-sizing: border-box;
    padding: 0rem 6.5rem 0rem 3.8rem;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    background: linear-gradient(180deg, #47479e -0%, #1d1d45 100%);
    border-radius: 1rem;

    .frame-87-TZ2 {
      border-right: solid 0.1rem #e1e1e1;
      flex-shrink: 0;
      margin: 0rem 1.1rem 4.5rem 0rem;
      box-sizing: border-box;
      padding-top: 5.6rem;
      width: 23.1rem;

      .auto-group-2wxa-Z6G {
        margin: 0rem 4.7rem 2.7rem 0rem;
        width: calc(100% - 4.7rem);
        display: flex;
        align-items: center;

        .logo-design-white-1-54c {
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 2.5rem;
          width: 4.5rem;
          height: 4.9rem;
          object-fit: cover;
        }
        .vincrypt-Pb6 {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.6rem;
          line-height: 1.2125;
          letter-spacing: -0.026rem;
          font-family: Inter, 'Source Sans Pro';
          margin-top: 0.1rem;
          font-weight: 700;
          color: #ffffff;
        }
      }
      .frame-8-HRa {
        margin-bottom: 9.5rem;
        width: 19.5rem;

        .overview-dVS {
          margin: 0rem 0rem 2.3rem 2.8rem;
          font-size: 1.4rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #929292;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .frame-7-vUY {
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;

          .frame-1-GYQ {
            box-sizing: border-box;
            width: 100%;
            display: flex;
            align-items: center;
            border-radius: 1rem;
            flex-shrink: 0;
            margin-bottom: 1.7rem;
            padding: 1.1rem 3.35rem;
            background-color: #3b3b7d;

            .vuesax-bold-category-Cwr {
              flex-shrink: 0;
              margin-right: 1.8rem;
              width: 2.4rem;
              height: 2.4rem;
              object-fit: contain;
              vertical-align: top;
            }
            .dashboard-Xz8 {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 0.1rem;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #818181;
            }
          }
          .frame-2-SrC {
            width: 100%;
            display: flex;
            align-items: center;
            background-color: #373771;
            border-radius: 1rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.1rem 3rem;

            .vuesax-linear-document-text-NUx {
              margin-right: 1.8rem;
              width: 2.4rem;
              height: 2.4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .whitepaper-GqE {
              line-height: 1.2125;
              color: #818181;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 0.1rem;
              font-size: 1.6rem;
              font-weight: 700;
            }
          }
          .auto-group-pwmz-zFS {
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-top: 1.7rem;
            width: 100%;
            row-gap: 1.7rem;
            display: flex;

            .frame-3-86k {
              display: flex;
              align-items: center;
              border-radius: 1rem;
              flex-shrink: 0;
              margin-right: 1rem;
              box-sizing: border-box;
              padding: 1.1rem 3.05rem;
              width: calc(100% - 1rem);

              .vuesax-linear-empty-wallet-T92 {
                margin-right: 1.8rem;
                width: 2.4rem;
                height: 2.4rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .dictionary-mvQ {
                flex-shrink: 0;
                margin-top: 0.1rem;
                font-size: 1.6rem;
                font-weight: 700;
                line-height: 1.2125;
                color: #818181;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
            .frame-4-tVE {
              display: flex;
              align-items: center;
              border-radius: 1rem;
              flex-shrink: 0;
              margin-right: 1.9rem;
              box-sizing: border-box;
              padding: 1.1rem 5.25rem 1.1rem 2.85rem;
              width: calc(100% - 1.9rem);

              .vuesax-linear-status-up-oMJ {
                margin-right: 1.8rem;
                width: 2.4rem;
                height: 2.4rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .article-vRv {
                color: #818181;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-top: 0.1rem;
                font-size: 1.6rem;
                font-weight: 700;
                line-height: 1.2125;
              }
            }
            .frame-6-r4g {
              border-radius: 1rem;
              flex-shrink: 0;
              margin-right: 1.9rem;
              box-sizing: border-box;
              padding: 1.1rem 2.85rem;
              width: calc(100% - 1.9rem);
              display: flex;
              align-items: center;

              .vuesax-linear-arrange-square-ALG {
                flex-shrink: 0;
                margin-right: 1.8rem;
                width: 2.4rem;
                height: 2.4rem;
                object-fit: contain;
                vertical-align: top;
              }
              .exchange-HQt {
                margin-top: 0.1rem;
                font-size: 1.6rem;
                font-weight: 700;
                line-height: 1.2125;
                color: #818181;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
        }
      }
      .frame-7-z4Q {
        flex-direction: column;
        margin-bottom: 12.6rem;
        width: 19.6rem;
        row-gap: 1.7rem;
        display: flex;

        .frame-2-WYY {
          width: 100%;
          height: 4.6rem;
          border-radius: 1rem;
          flex-shrink: 0;
        }
        .frame-3-eue {
          display: flex;
          align-items: center;
          border-radius: 1rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.1rem 3.35rem;
          width: 100%;

          .vuesax-linear-profile-2user-PsE {
            margin-right: 1.3rem;
            width: 2.4rem;
            height: 2.4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .personalize-vMN {
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #818181;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.1rem;
          }
        }
        .frame-4-Rov {
          border-radius: 1rem;
          flex-shrink: 0;
          margin-right: 1.2rem;
          box-sizing: border-box;
          padding: 1.1rem 5.25rem 1.1rem 3.25rem;
          width: calc(100% - 1.2rem);
          display: flex;
          align-items: center;

          .vuesax-outline-setting-2-wnG {
            width: 2.4rem;
            height: 2.4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.8rem;
          }
          .setting-UXJ {
            line-height: 1.2125;
            color: #818181;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.1rem;
            font-size: 1.6rem;
            font-weight: 700;
          }
        }
      }
      .frame-7-zEk {
        row-gap: 1.7rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 17.6rem;

        .frame-2-iwS {
          border-radius: 1rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.1rem 4.7rem 1.1rem 2.9rem;
          width: 100%;
          display: flex;
          align-items: center;

          .vuesax-outline-headphone-T8L {
            margin-right: 1.2rem;
            width: 2.4rem;
            height: 2.4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .support-NWC {
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #818181;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.1rem;
          }
        }
        .frame-3-6BJ {
          padding: 1.1rem 2.9rem;
          width: 100%;
          display: flex;
          align-items: center;
          border-radius: 1rem;
          flex-shrink: 0;
          box-sizing: border-box;

          .vuesax-outline-sms-edit-3MS {
            width: 2.4rem;
            height: 2.4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.3rem;
          }
          .messages-moE {
            flex-shrink: 0;
            margin-top: 0.1rem;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #818181;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .frame-4-VUL {
          width: 100%;
          display: flex;
          align-items: center;
          background-color: rgba(255, 0, 0, 0.0299999993);
          border-radius: 1rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.1rem 4.95rem 1.1rem 2.85rem;

          .vuesax-linear-logout-daY {
            width: 2.4rem;
            height: 2.4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.8rem;
          }
          .logout-YxQ {
            color: #e45a5a;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.1rem;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.2125;
          }
        }
      }
    }
    .auto-group-swyg-qAp {
      flex-shrink: 0;
      margin: 4.6rem 0rem 5.6rem 0rem;
      width: 157.5rem;
      height: calc(100% - 10.2rem);
      align-items: flex-end;
      display: flex;
      flex-direction: column;

      .auto-group-y1zp-M9A {
        flex-shrink: 0;
        margin-bottom: 0.4rem;
        box-sizing: border-box;
        padding: 0.7rem 0rem 0rem 135.4rem;
        width: 153.9rem;
        height: 7.3rem;

        .frame-68-ee4 {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;

          .username-bZJ {
            font-weight: 700;
            letter-spacing: -0.018rem;
            color: #ffffff;
            flex-shrink: 0;
            margin-right: 3rem;
            font-size: 1.8rem;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .group-20-Vua {
            border-radius: 9.9rem;
            flex-shrink: 0;
            width: 6.6rem;
            height: 100%;

            .group-6-3w6 {
              border-radius: 9.9rem;
              width: 100%;
              height: 100%;

              .rectangle-4-1sv {
                width: 100%;
                height: 6.6rem;
                background-color: #d7d7d7;
                border-radius: 9.9rem;
              }
            }
          }
        }
      }
      .auto-group-fesa-XbN {
        width: 100%;
        height: 90.1rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-165-sfE {
          position: absolute;
          left: 0;
          top: 0;
          box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.0700000003);
          background-color: #4d4d86;
          border-radius: 2rem;
          width: 147rem;
          height: 90.1rem;
        }
        .products-emoji-list-xgg {
          overflow: hidden;
          align-items: flex-end;
          flex-direction: column;
          width: 47.2rem;
          top: 2.9rem;
          left: 49.9rem;
          display: flex;
          background-color: #4d4d86;
          height: 84.4rem;
          position: absolute;

          .auto-group-jj6k-4Up {
            box-sizing: border-box;
            padding: 19.65rem 0rem 4.6rem 0.9rem;
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .title-copy-bDr {
              font-weight: 700;
              line-height: 0.5;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              margin: 0rem 1.3rem 13.35rem 0rem;
              display: flex;
              font-size: 4.4rem;
              letter-spacing: -0.088rem;
              flex-shrink: 0;
            }
            .body-copy-tCx {
              font-weight: 400;
              line-height: 1;
              letter-spacing: -0.048rem;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.4rem;
            }
          }
          .products-CzL {
            width: 47.8rem;
            height: 8.1rem;
            border-radius: 0.8rem;
            flex-shrink: 0;

            .group-1-Z4C {
              width: 100%;
              height: 100%;
              border-radius: 0.8rem;

              .rectangle-10-ixg {
                background-color: #ffffff;
                border-radius: 0.8rem;
                width: 100%;
                height: 8.1rem;
              }
            }
          }
          .auto-group-m3q2-r3J {
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 4.1rem 5.3rem 9.4rem 6.5rem;
            width: 100%;
            align-items: center;
            display: flex;

            .controls-group-BbN {
              margin: 0rem 10.75rem 12.7rem 9.65rem;
              width: calc(100% - 20.4rem);
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .submit-hZi {
                margin-bottom: 1.5rem;
                line-height: 1.2222222222;
                white-space: nowrap;
                text-align: center;
                font-size: 1.8rem;
                font-weight: 700;
                letter-spacing: -0.036rem;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
              }
              .restore-purchase-DY4 {
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                text-align: center;
                font-weight: 700;
                letter-spacing: -0.036rem;
                flex-shrink: 0;
                font-size: 1.8rem;
                line-height: 1.2222222222;
                color: #ffffff;
              }
            }
            .legal-text-vxG {
              color: #f5f8fa;
              display: flex;
              align-items: baseline;
              flex-shrink: 0;
              letter-spacing: -0.024rem;
              font-weight: 400;
              line-height: 1.6666666667;
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
              font-size: 1.2rem;

              .legal-text-vxG-sub-0 {
                letter-spacing: -0.024rem;
                color: #f5f8fa;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.6666666667;
              }
              .legal-text-vxG-sub-1 {
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.6666666667;
                letter-spacing: -0.024rem;
                text-decoration-line: underline;
                color: #f5f8fa;
                font-family: Inter, 'Source Sans Pro';
              }
              .legal-text-vxG-sub-2 {
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.6666666667;
                letter-spacing: -0.024rem;
                color: #f5f8fa;
                font-family: Inter, 'Source Sans Pro';
              }
              .legal-text-vxG-sub-3 {
                color: #f5f8fa;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.6666666667;
                letter-spacing: -0.024rem;
                text-decoration-line: underline;
              }
              .legal-text-vxG-sub-4 {
                line-height: 1.6666666667;
                letter-spacing: -0.024rem;
                color: #f5f8fa;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.2rem;
                font-weight: 400;
              }
            }
          }
        }
      }
    }
  }
}
