
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.dashboard-XKW {
  width: 100%;
  height: 108rem;
  border-radius: 1rem;
}
.dashboard-XKW .crypto-dashboard-N5E {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, #313189 -0%, #01010e 100%);
  border-radius: 1rem;
}
.dashboard-XKW .crypto-dashboard-N5E .frame-87-opk {
  box-sizing: border-box;
  padding-left: 3.8rem;
  width: 26.9rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .frame-87-opk .auto-group-44kr-Wz4 {
  margin: 5.6rem 3.5rem 4.5rem 0rem;
  width: 19.6rem;
  height: calc(100% - 10.1rem);
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .frame-87-opk .auto-group-44kr-Wz4 .auto-group-dvra-zuE {
  box-sizing: border-box;
  padding-bottom: 9.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.dashboard-XKW .crypto-dashboard-N5E .frame-87-opk .auto-group-44kr-Wz4 .auto-group-dvra-zuE .auto-group-dbqu-LCQ {
  margin: 0rem 1.2rem 2.7rem 0rem;
  width: calc(100% - 1.2rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .frame-87-opk .auto-group-44kr-Wz4 .auto-group-dvra-zuE .auto-group-dbqu-LCQ .logo-design-white-1-BcL {
  margin-right: 2.5rem;
  width: 4.5rem;
  height: 4.9rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .frame-87-opk .auto-group-44kr-Wz4 .auto-group-dvra-zuE .auto-group-dbqu-LCQ .vincrypt-UrL {
  margin-top: 0.1rem;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 1.2125;
  letter-spacing: -0.026rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .frame-87-opk .auto-group-44kr-Wz4 .auto-group-dvra-zuE .frame-8-XJp {
  width: 19.5rem;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .frame-87-opk .auto-group-44kr-Wz4 .auto-group-dvra-zuE .frame-8-XJp .overview-sda {
  margin: 0rem 0rem 2.3rem 2.8rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #929292;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.dashboard-XKW .crypto-dashboard-N5E .frame-87-opk .auto-group-44kr-Wz4 .auto-group-dvra-zuE .frame-8-XJp .frame-7-b3n {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.dashboard-XKW .crypto-dashboard-N5E .frame-87-opk .auto-group-44kr-Wz4 .auto-group-dvra-zuE .frame-8-XJp .frame-7-b3n .frame-1-M2x {
  margin-bottom: 1.7rem;
  box-sizing: border-box;
  padding: 1.1rem 3.35rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #0096ff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .frame-87-opk .auto-group-44kr-Wz4 .auto-group-dvra-zuE .frame-8-XJp .frame-7-b3n .frame-1-M2x .vuesax-bold-category-sX6 {
  margin-right: 1.8rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .frame-87-opk .auto-group-44kr-Wz4 .auto-group-dvra-zuE .frame-8-XJp .frame-7-b3n .frame-1-M2x .dashboard-wWx {
  margin-top: 0.1rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #dddddd;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .frame-87-opk .auto-group-44kr-Wz4 .auto-group-dvra-zuE .frame-8-XJp .frame-7-b3n .frame-2-q6Y {
  box-sizing: border-box;
  padding: 1.1rem 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .frame-87-opk .auto-group-44kr-Wz4 .auto-group-dvra-zuE .frame-8-XJp .frame-7-b3n .frame-2-q6Y .vuesax-linear-document-text-APi {
  margin-right: 1.8rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .frame-87-opk .auto-group-44kr-Wz4 .auto-group-dvra-zuE .frame-8-XJp .frame-7-b3n .frame-2-q6Y .whitepaper-h8k {
  margin-top: 0.1rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #818181;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .frame-87-opk .auto-group-44kr-Wz4 .auto-group-dvra-zuE .frame-8-XJp .frame-7-b3n .auto-group-aanc-1fE {
  box-sizing: border-box;
  padding-top: 1.7rem;
  width: 100%;
  row-gap: 1.7rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .frame-87-opk .auto-group-44kr-Wz4 .auto-group-dvra-zuE .frame-8-XJp .frame-7-b3n .auto-group-aanc-1fE .frame-3-j5S {
  margin-right: 1rem;
  box-sizing: border-box;
  padding: 1.1rem 3.05rem;
  width: calc(100% - 1rem);
  display: flex;
  align-items: center;
  border-radius: 1rem;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .frame-87-opk .auto-group-44kr-Wz4 .auto-group-dvra-zuE .frame-8-XJp .frame-7-b3n .auto-group-aanc-1fE .frame-3-j5S .vuesax-linear-empty-wallet-4tQ {
  margin-right: 1.8rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .frame-87-opk .auto-group-44kr-Wz4 .auto-group-dvra-zuE .frame-8-XJp .frame-7-b3n .auto-group-aanc-1fE .frame-3-j5S .dictionary-ark {
  margin-top: 0.1rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #818181;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .frame-87-opk .auto-group-44kr-Wz4 .auto-group-dvra-zuE .frame-8-XJp .frame-7-b3n .auto-group-aanc-1fE .frame-4-HFN {
  margin-right: 1.9rem;
  box-sizing: border-box;
  padding: 1.1rem 5.25rem 1.1rem 2.85rem;
  width: calc(100% - 1.9rem);
  display: flex;
  align-items: center;
  border-radius: 1rem;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .frame-87-opk .auto-group-44kr-Wz4 .auto-group-dvra-zuE .frame-8-XJp .frame-7-b3n .auto-group-aanc-1fE .frame-4-HFN .vuesax-linear-status-up-nxp {
  margin-right: 1.8rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .frame-87-opk .auto-group-44kr-Wz4 .auto-group-dvra-zuE .frame-8-XJp .frame-7-b3n .auto-group-aanc-1fE .frame-4-HFN .article-Kxk {
  margin-top: 0.1rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #818181;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .frame-87-opk .auto-group-44kr-Wz4 .auto-group-dvra-zuE .frame-8-XJp .frame-7-b3n .auto-group-aanc-1fE .frame-6-rSt {
  margin-right: 1.9rem;
  box-sizing: border-box;
  padding: 1.1rem 2.85rem;
  width: calc(100% - 1.9rem);
  display: flex;
  align-items: center;
  border-radius: 1rem;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .frame-87-opk .auto-group-44kr-Wz4 .auto-group-dvra-zuE .frame-8-XJp .frame-7-b3n .auto-group-aanc-1fE .frame-6-rSt .vuesax-linear-arrange-square-Pxc {
  margin-right: 1.8rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .frame-87-opk .auto-group-44kr-Wz4 .auto-group-dvra-zuE .frame-8-XJp .frame-7-b3n .auto-group-aanc-1fE .frame-6-rSt .exchange-77v {
  margin-top: 0.1rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #818181;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .frame-87-opk .auto-group-44kr-Wz4 .frame-7-Dgk {
  margin-bottom: 12.6rem;
  width: 100%;
  row-gap: 1.7rem;
  display: flex;
  flex-direction: column;
}
.dashboard-XKW .crypto-dashboard-N5E .frame-87-opk .auto-group-44kr-Wz4 .frame-7-Dgk .frame-2-AM6 {
  width: 100%;
  height: 4.6rem;
  border-radius: 1rem;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .frame-87-opk .auto-group-44kr-Wz4 .frame-7-Dgk .frame-3-WQx {
  box-sizing: border-box;
  padding: 1.1rem 3.35rem;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .frame-87-opk .auto-group-44kr-Wz4 .frame-7-Dgk .frame-3-WQx .vuesax-linear-profile-2user-ELx {
  margin-right: 1.3rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .frame-87-opk .auto-group-44kr-Wz4 .frame-7-Dgk .frame-3-WQx .personalize-Let {
  margin-top: 0.1rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #818181;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .frame-87-opk .auto-group-44kr-Wz4 .frame-7-Dgk .frame-4-s92 {
  margin-right: 1.2rem;
  box-sizing: border-box;
  padding: 1.1rem 5.25rem 1.1rem 3.25rem;
  width: calc(100% - 1.2rem);
  display: flex;
  align-items: center;
  border-radius: 1rem;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .frame-87-opk .auto-group-44kr-Wz4 .frame-7-Dgk .frame-4-s92 .vuesax-outline-setting-2-bqi {
  margin-right: 1.8rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .frame-87-opk .auto-group-44kr-Wz4 .frame-7-Dgk .frame-4-s92 .setting-LYQ {
  margin-top: 0.1rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #818181;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .frame-87-opk .auto-group-44kr-Wz4 .frame-7-sYL {
  width: 17.6rem;
  row-gap: 1.7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.dashboard-XKW .crypto-dashboard-N5E .frame-87-opk .auto-group-44kr-Wz4 .frame-7-sYL .frame-2-pTa {
  box-sizing: border-box;
  padding: 1.1rem 4.7rem 1.1rem 2.9rem;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .frame-87-opk .auto-group-44kr-Wz4 .frame-7-sYL .frame-2-pTa .vuesax-outline-headphone-xpg {
  margin-right: 1.2rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .frame-87-opk .auto-group-44kr-Wz4 .frame-7-sYL .frame-2-pTa .support-WLQ {
  margin-top: 0.1rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #818181;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .frame-87-opk .auto-group-44kr-Wz4 .frame-7-sYL .frame-3-dA8 {
  box-sizing: border-box;
  padding: 1.1rem 2.9rem;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .frame-87-opk .auto-group-44kr-Wz4 .frame-7-sYL .frame-3-dA8 .vuesax-outline-sms-edit-M68 {
  margin-right: 1.3rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .frame-87-opk .auto-group-44kr-Wz4 .frame-7-sYL .frame-3-dA8 .messages-eqv {
  margin-top: 0.1rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #818181;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .frame-87-opk .auto-group-44kr-Wz4 .frame-7-sYL .frame-4-azU {
  box-sizing: border-box;
  padding: 1.1rem 4.95rem 1.1rem 2.85rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(255, 0, 0, 0.0299999993);
  border-radius: 1rem;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .frame-87-opk .auto-group-44kr-Wz4 .frame-7-sYL .frame-4-azU .vuesax-linear-logout-Kx4 {
  margin-right: 1.8rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .frame-87-opk .auto-group-44kr-Wz4 .frame-7-sYL .frame-4-azU .logout-Fqi {
  margin-top: 0.1rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #e45a5a;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .frame-87-opk .line-8-NfS {
  width: 0.1rem;
  height: 108rem;
  background-color: #e1e1e1;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .auto-group-vzmv-Kag {
  width: 117.9rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .auto-group-vzmv-Kag .frame-66-feY {
  width: 105.9rem;
  height: 7.2rem;
  position: absolute;
  left: 4.7rem;
  top: 4.6rem;
  display: flex;
  align-items: center;
}
.dashboard-XKW .crypto-dashboard-N5E .auto-group-vzmv-Kag .frame-66-feY .frame-13-zgp {
  margin-right: 48.2rem;
  height: 7.3rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .auto-group-vzmv-Kag .frame-66-feY .frame-13-zgp .dashboard-wrx {
  margin-bottom: 0.7rem;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.2125;
  letter-spacing: -0.034rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .auto-group-vzmv-Kag .frame-66-feY .frame-13-zgp .welcome-back-user--3QC {
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 1.2125;
  letter-spacing: -0.019rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .auto-group-vzmv-Kag .frame-66-feY .frame-13-zgp .welcome-back-user--3QC .welcome-back-user--3QC-sub-0 {
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: -0.019rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.dashboard-XKW .crypto-dashboard-N5E .auto-group-vzmv-Kag .frame-66-feY .frame-13-zgp .welcome-back-user--3QC .welcome-back-user--3QC-sub-1 {
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 1.2125;
  letter-spacing: -0.019rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.dashboard-XKW .crypto-dashboard-N5E .auto-group-vzmv-Kag .frame-66-feY .frame-13-zgp .welcome-back-user--3QC .welcome-back-user--3QC-sub-2 {
}
.dashboard-XKW .crypto-dashboard-N5E .auto-group-vzmv-Kag .frame-66-feY .frame-13-zgp .welcome-back-user--3QC .welcome-back-user--3QC-sub-3 {
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 1.2125;
  letter-spacing: -0.019rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.dashboard-XKW .crypto-dashboard-N5E .auto-group-vzmv-Kag .frame-66-feY .frame-12-oJp {
  margin: 1.05rem 0;
  box-sizing: border-box;
  padding: 1.35rem 6rem;
  height: calc(100% - 2.1rem);
  display: flex;
  align-items: center;
  border: solid 0.1rem #e3e3e3;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.0700000003);
  border-radius: 1rem;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .auto-group-vzmv-Kag .frame-66-feY .frame-12-oJp .search-4kY {
  margin: 0.1rem 19rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .auto-group-vzmv-Kag .frame-66-feY .frame-12-oJp .vuesax-linear-search-normal-ZBW {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .auto-group-vzmv-Kag .frame-60-Dmr {
  width: 30.8rem;
  height: 24.6rem;
  position: absolute;
  left: 81.8rem;
  top: 18.8rem;
}
.dashboard-XKW .crypto-dashboard-N5E .auto-group-vzmv-Kag .frame-61-xUY {
  width: 30.7rem;
  height: 24.8rem;
  position: absolute;
  left: 43.9rem;
  top: 19.1rem;
}
.dashboard-XKW .crypto-dashboard-N5E .auto-group-vzmv-Kag .auto-group-xoz2-td6 {
  box-sizing: border-box;
  padding: 4.4rem 1.2rem 66.9rem 1.6rem;
  width: 109.4rem;
  height: 90.1rem;
  position: absolute;
  left: 4.5rem;
  top: 13.3rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.0700000003);
  background-color: #4d4d86;
  border-radius: 2rem;
}
.dashboard-XKW .crypto-dashboard-N5E .auto-group-vzmv-Kag .auto-group-xoz2-td6 .our-recommendations-zRE {
  margin: 0rem 0rem 7.8rem 1.7rem;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.2125;
  letter-spacing: -0.022rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.dashboard-XKW .crypto-dashboard-N5E .auto-group-vzmv-Kag .auto-group-xoz2-td6 .table-UrC {
  box-sizing: border-box;
  padding-bottom: 1.6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: solid 0.1rem #fbfbfb;
}
.dashboard-XKW .crypto-dashboard-N5E .auto-group-vzmv-Kag .auto-group-xoz2-td6 .table-UrC .frame-9-QE4 {
  margin: 0rem 0rem 1.5rem 1.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .auto-group-vzmv-Kag .auto-group-xoz2-td6 .table-UrC .frame-9-QE4 .symbol-jXE {
  margin-right: 15.5rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .auto-group-vzmv-Kag .auto-group-xoz2-td6 .table-UrC .frame-9-QE4 .coin-name-sNY {
  margin-right: 12.9rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .auto-group-vzmv-Kag .auto-group-xoz2-td6 .table-UrC .frame-9-QE4 .block-time-c5E {
  margin-right: 12.8rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .auto-group-vzmv-Kag .auto-group-xoz2-td6 .table-UrC .frame-9-QE4 .technical-M2p {
  margin-right: 13.6rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .auto-group-vzmv-Kag .auto-group-xoz2-td6 .table-UrC .frame-9-QE4 .project-Ut8 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .auto-group-vzmv-Kag .auto-group-xoz2-td6 .table-UrC .line-9-Dqi {
  margin-bottom: 1.3rem;
  width: 100%;
  height: 0.3rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .auto-group-vzmv-Kag .auto-group-xoz2-td6 .table-UrC .frame-10-Zua {
  margin: 0rem 0rem 1.5rem 1.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .auto-group-vzmv-Kag .auto-group-xoz2-td6 .table-UrC .frame-10-Zua .coinsymbol-6uW {
  margin-right: 11.8rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .auto-group-vzmv-Kag .auto-group-xoz2-td6 .table-UrC .frame-10-Zua .coinname-qcC {
  margin-right: 12.9rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .auto-group-vzmv-Kag .auto-group-xoz2-td6 .table-UrC .frame-10-Zua .blocktime-wv8 {
  margin-right: 12.8rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .auto-group-vzmv-Kag .auto-group-xoz2-td6 .table-UrC .frame-10-Zua .technical-Uv4 {
  margin-right: 13.6rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .auto-group-vzmv-Kag .auto-group-xoz2-td6 .table-UrC .frame-10-Zua .project-dY4 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .line-1-ukU {
  width: 0.1rem;
  height: 108rem;
  background-color: #e1e1e1;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .auto-group-8cgp-G5E {
  box-sizing: border-box;
  padding: 5.3rem 4.2rem 63.4rem 2.5rem;
  width: 47.1rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .auto-group-8cgp-G5E .frame-69-mXn {
  margin: 0rem 0rem 3.3rem 17.3rem;
  width: 18.5rem;
  height: 6.6rem;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .auto-group-8cgp-G5E .frame-69-mXn .frame-68-Vya {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.dashboard-XKW .crypto-dashboard-N5E .auto-group-8cgp-G5E .frame-69-mXn .frame-68-Vya .username-GDe {
  margin-right: 3rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2125;
  letter-spacing: -0.018rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .auto-group-8cgp-G5E .frame-69-mXn .frame-68-Vya .group-20-zfS {
  width: 6.6rem;
  height: 100%;
  border-radius: 9.9rem;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .auto-group-8cgp-G5E .frame-69-mXn .frame-68-Vya .group-20-zfS .group-6-kPi {
  width: 100%;
  height: 100%;
  border-radius: 9.9rem;
}
.dashboard-XKW .crypto-dashboard-N5E .auto-group-8cgp-G5E .frame-69-mXn .frame-68-Vya .group-20-zfS .group-6-kPi .rectangle-4-hZr {
  width: 100%;
  height: 6.6rem;
  background-color: #d7d7d7;
  border-radius: 9.9rem;
}
.dashboard-XKW .crypto-dashboard-N5E .auto-group-8cgp-G5E .frame-37-cB2 {
  box-sizing: border-box;
  padding: 2.5rem 2.3rem 2.8rem 3.3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.0700000003);
  background-color: #4d4d86;
  border-radius: 2rem;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .auto-group-8cgp-G5E .frame-37-cB2 .wallet-id-k2L {
  margin-bottom: 2.4rem;
  font-size: 2.7rem;
  font-weight: 700;
  line-height: 1.2125;
  letter-spacing: -0.027rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .auto-group-8cgp-G5E .frame-37-cB2 .frame-32-fQC {
  margin-bottom: 3.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .auto-group-8cgp-G5E .frame-37-cB2 .frame-32-fQC .insert-your-wallet-id-here-DwW {
  margin-bottom: 1.2rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: -0.014rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .auto-group-8cgp-G5E .frame-37-cB2 .frame-32-fQC .frame-31-94U {
  width: 100%;
  height: 6rem;
  border: solid 0.1rem #ebebeb;
  box-sizing: border-box;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.0900000036);
  border-radius: 1rem;
  flex-shrink: 0;
}
.dashboard-XKW .crypto-dashboard-N5E .auto-group-8cgp-G5E .frame-37-cB2 .frame-31-TL4 {
  width: 100%;
  height: 6rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2125;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.0700000003);
  background-color: #0096ff;
  border-radius: 1rem;
  flex-shrink: 0;
}
