
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 11.5rem;
}.rectangle-89-Rwn {
  width: 100%;
  height: 11.5rem;
  background-color: #0096ff;
}
