
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.whitepaper-JTa {
  width: 100%;
  height: 108rem;
  border-radius: 1rem;
}
.whitepaper-JTa .crypto-whitepaper-pgp {
  box-sizing: border-box;
  padding-left: 3.8rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, #47479e -0%, #21212f 100%);
  border-radius: 1rem;
}
.whitepaper-JTa .crypto-whitepaper-pgp .frame-87-YMv {
  box-sizing: border-box;
  padding: 5.6rem 0rem 4.5rem 0rem;
  width: 23.2rem;
  height: 100%;
  border-right: solid 0.1rem #e1e1e1;
  flex-shrink: 0;
}
.whitepaper-JTa .crypto-whitepaper-pgp .frame-87-YMv .auto-group-qzkc-fBe {
  width: 19.6rem;
  height: 100%;
}
.whitepaper-JTa .crypto-whitepaper-pgp .frame-87-YMv .auto-group-qzkc-fBe .auto-group-9ous-oHr {
  box-sizing: border-box;
  padding-bottom: 9.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.whitepaper-JTa .crypto-whitepaper-pgp .frame-87-YMv .auto-group-qzkc-fBe .auto-group-9ous-oHr .auto-group-stxa-jhJ {
  margin: 0rem 1.2rem 2.7rem 0rem;
  width: calc(100% - 1.2rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.whitepaper-JTa .crypto-whitepaper-pgp .frame-87-YMv .auto-group-qzkc-fBe .auto-group-9ous-oHr .auto-group-stxa-jhJ .logo-design-white-1-FvY {
  margin-right: 2.5rem;
  width: 4.5rem;
  height: 4.9rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.whitepaper-JTa .crypto-whitepaper-pgp .frame-87-YMv .auto-group-qzkc-fBe .auto-group-9ous-oHr .auto-group-stxa-jhJ .vincrypt-BJQ {
  margin-top: 0.1rem;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 1.2125;
  letter-spacing: -0.026rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.whitepaper-JTa .crypto-whitepaper-pgp .frame-87-YMv .auto-group-qzkc-fBe .auto-group-9ous-oHr .frame-8-r9e {
  width: 19.5rem;
  flex-shrink: 0;
}
.whitepaper-JTa .crypto-whitepaper-pgp .frame-87-YMv .auto-group-qzkc-fBe .auto-group-9ous-oHr .frame-8-r9e .overview-noz {
  margin: 0rem 0rem 2.3rem 2.8rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #929292;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.whitepaper-JTa .crypto-whitepaper-pgp .frame-87-YMv .auto-group-qzkc-fBe .auto-group-9ous-oHr .frame-8-r9e .frame-7-HVr {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.whitepaper-JTa .crypto-whitepaper-pgp .frame-87-YMv .auto-group-qzkc-fBe .auto-group-9ous-oHr .frame-8-r9e .frame-7-HVr .frame-1-dpc {
  margin-bottom: 1.7rem;
  box-sizing: border-box;
  padding: 1.1rem 3.35rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #3b3b7d;
  border-radius: 1rem;
  flex-shrink: 0;
}
.whitepaper-JTa .crypto-whitepaper-pgp .frame-87-YMv .auto-group-qzkc-fBe .auto-group-9ous-oHr .frame-8-r9e .frame-7-HVr .frame-1-dpc .vuesax-bold-category-ZyA {
  margin-right: 1.8rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.whitepaper-JTa .crypto-whitepaper-pgp .frame-87-YMv .auto-group-qzkc-fBe .auto-group-9ous-oHr .frame-8-r9e .frame-7-HVr .frame-1-dpc .dashboard-UqE {
  margin-top: 0.1rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #818181;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.whitepaper-JTa .crypto-whitepaper-pgp .frame-87-YMv .auto-group-qzkc-fBe .auto-group-9ous-oHr .frame-8-r9e .frame-7-HVr .frame-2-a7a {
  box-sizing: border-box;
  padding: 1.1rem 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #0096ff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.whitepaper-JTa .crypto-whitepaper-pgp .frame-87-YMv .auto-group-qzkc-fBe .auto-group-9ous-oHr .frame-8-r9e .frame-7-HVr .frame-2-a7a .vuesax-linear-document-text-ufe {
  margin-right: 1.8rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.whitepaper-JTa .crypto-whitepaper-pgp .frame-87-YMv .auto-group-qzkc-fBe .auto-group-9ous-oHr .frame-8-r9e .frame-7-HVr .frame-2-a7a .whitepaper-qZJ {
  margin-top: 0.1rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.whitepaper-JTa .crypto-whitepaper-pgp .frame-87-YMv .auto-group-qzkc-fBe .auto-group-9ous-oHr .frame-8-r9e .frame-7-HVr .auto-group-mgil-9Zz {
  box-sizing: border-box;
  padding-top: 1.7rem;
  width: 100%;
  row-gap: 1.7rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.whitepaper-JTa .crypto-whitepaper-pgp .frame-87-YMv .auto-group-qzkc-fBe .auto-group-9ous-oHr .frame-8-r9e .frame-7-HVr .auto-group-mgil-9Zz .frame-3-HAQ {
  margin-right: 1rem;
  box-sizing: border-box;
  padding: 1.1rem 3.05rem;
  width: calc(100% - 1rem);
  display: flex;
  align-items: center;
  border-radius: 1rem;
  flex-shrink: 0;
}
.whitepaper-JTa .crypto-whitepaper-pgp .frame-87-YMv .auto-group-qzkc-fBe .auto-group-9ous-oHr .frame-8-r9e .frame-7-HVr .auto-group-mgil-9Zz .frame-3-HAQ .vuesax-linear-empty-wallet-ouS {
  margin-right: 1.8rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.whitepaper-JTa .crypto-whitepaper-pgp .frame-87-YMv .auto-group-qzkc-fBe .auto-group-9ous-oHr .frame-8-r9e .frame-7-HVr .auto-group-mgil-9Zz .frame-3-HAQ .dictionary-vz4 {
  margin-top: 0.1rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #818181;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.whitepaper-JTa .crypto-whitepaper-pgp .frame-87-YMv .auto-group-qzkc-fBe .auto-group-9ous-oHr .frame-8-r9e .frame-7-HVr .auto-group-mgil-9Zz .frame-4-FWY {
  margin-right: 1.9rem;
  box-sizing: border-box;
  padding: 1.1rem 5.25rem 1.1rem 2.85rem;
  width: calc(100% - 1.9rem);
  display: flex;
  align-items: center;
  border-radius: 1rem;
  flex-shrink: 0;
}
.whitepaper-JTa .crypto-whitepaper-pgp .frame-87-YMv .auto-group-qzkc-fBe .auto-group-9ous-oHr .frame-8-r9e .frame-7-HVr .auto-group-mgil-9Zz .frame-4-FWY .vuesax-linear-status-up-a32 {
  margin-right: 1.8rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.whitepaper-JTa .crypto-whitepaper-pgp .frame-87-YMv .auto-group-qzkc-fBe .auto-group-9ous-oHr .frame-8-r9e .frame-7-HVr .auto-group-mgil-9Zz .frame-4-FWY .article-JDv {
  margin-top: 0.1rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #818181;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.whitepaper-JTa .crypto-whitepaper-pgp .frame-87-YMv .auto-group-qzkc-fBe .auto-group-9ous-oHr .frame-8-r9e .frame-7-HVr .auto-group-mgil-9Zz .frame-6-DLt {
  margin-right: 1.9rem;
  box-sizing: border-box;
  padding: 1.1rem 2.85rem;
  width: calc(100% - 1.9rem);
  display: flex;
  align-items: center;
  border-radius: 1rem;
  flex-shrink: 0;
}
.whitepaper-JTa .crypto-whitepaper-pgp .frame-87-YMv .auto-group-qzkc-fBe .auto-group-9ous-oHr .frame-8-r9e .frame-7-HVr .auto-group-mgil-9Zz .frame-6-DLt .vuesax-linear-arrange-square-kbi {
  margin-right: 1.8rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.whitepaper-JTa .crypto-whitepaper-pgp .frame-87-YMv .auto-group-qzkc-fBe .auto-group-9ous-oHr .frame-8-r9e .frame-7-HVr .auto-group-mgil-9Zz .frame-6-DLt .exchange-fTn {
  margin-top: 0.1rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #818181;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.whitepaper-JTa .crypto-whitepaper-pgp .frame-87-YMv .auto-group-qzkc-fBe .frame-7-Zp4 {
  margin-bottom: 12.6rem;
  width: 100%;
  row-gap: 1.7rem;
  display: flex;
  flex-direction: column;
}
.whitepaper-JTa .crypto-whitepaper-pgp .frame-87-YMv .auto-group-qzkc-fBe .frame-7-Zp4 .frame-2-u7E {
  width: 100%;
  height: 4.6rem;
  border-radius: 1rem;
  flex-shrink: 0;
}
.whitepaper-JTa .crypto-whitepaper-pgp .frame-87-YMv .auto-group-qzkc-fBe .frame-7-Zp4 .frame-3-Ssr {
  box-sizing: border-box;
  padding: 1.1rem 3.35rem;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  flex-shrink: 0;
}
.whitepaper-JTa .crypto-whitepaper-pgp .frame-87-YMv .auto-group-qzkc-fBe .frame-7-Zp4 .frame-3-Ssr .vuesax-linear-profile-2user-bEx {
  margin-right: 1.3rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.whitepaper-JTa .crypto-whitepaper-pgp .frame-87-YMv .auto-group-qzkc-fBe .frame-7-Zp4 .frame-3-Ssr .personalize-umS {
  margin-top: 0.1rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #818181;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.whitepaper-JTa .crypto-whitepaper-pgp .frame-87-YMv .auto-group-qzkc-fBe .frame-7-Zp4 .frame-4-Dn8 {
  margin-right: 1.2rem;
  box-sizing: border-box;
  padding: 1.1rem 5.25rem 1.1rem 3.25rem;
  width: calc(100% - 1.2rem);
  display: flex;
  align-items: center;
  border-radius: 1rem;
  flex-shrink: 0;
}
.whitepaper-JTa .crypto-whitepaper-pgp .frame-87-YMv .auto-group-qzkc-fBe .frame-7-Zp4 .frame-4-Dn8 .vuesax-outline-setting-2-wCL {
  margin-right: 1.8rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.whitepaper-JTa .crypto-whitepaper-pgp .frame-87-YMv .auto-group-qzkc-fBe .frame-7-Zp4 .frame-4-Dn8 .setting-TwN {
  margin-top: 0.1rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #818181;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.whitepaper-JTa .crypto-whitepaper-pgp .frame-87-YMv .auto-group-qzkc-fBe .frame-7-nCx {
  width: 17.6rem;
  row-gap: 1.7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.whitepaper-JTa .crypto-whitepaper-pgp .frame-87-YMv .auto-group-qzkc-fBe .frame-7-nCx .frame-2-XAY {
  box-sizing: border-box;
  padding: 1.1rem 4.7rem 1.1rem 2.9rem;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  flex-shrink: 0;
}
.whitepaper-JTa .crypto-whitepaper-pgp .frame-87-YMv .auto-group-qzkc-fBe .frame-7-nCx .frame-2-XAY .vuesax-outline-headphone-rTi {
  margin-right: 1.2rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.whitepaper-JTa .crypto-whitepaper-pgp .frame-87-YMv .auto-group-qzkc-fBe .frame-7-nCx .frame-2-XAY .support-n6U {
  margin-top: 0.1rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #818181;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.whitepaper-JTa .crypto-whitepaper-pgp .frame-87-YMv .auto-group-qzkc-fBe .frame-7-nCx .frame-3-hUL {
  box-sizing: border-box;
  padding: 1.1rem 2.9rem;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  flex-shrink: 0;
}
.whitepaper-JTa .crypto-whitepaper-pgp .frame-87-YMv .auto-group-qzkc-fBe .frame-7-nCx .frame-3-hUL .vuesax-outline-sms-edit-Sgp {
  margin-right: 1.3rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.whitepaper-JTa .crypto-whitepaper-pgp .frame-87-YMv .auto-group-qzkc-fBe .frame-7-nCx .frame-3-hUL .messages-yRr {
  margin-top: 0.1rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #818181;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.whitepaper-JTa .crypto-whitepaper-pgp .frame-87-YMv .auto-group-qzkc-fBe .frame-7-nCx .frame-4-tYp {
  box-sizing: border-box;
  padding: 1.1rem 4.95rem 1.1rem 2.85rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(255, 0, 0, 0.0299999993);
  border-radius: 1rem;
  flex-shrink: 0;
}
.whitepaper-JTa .crypto-whitepaper-pgp .frame-87-YMv .auto-group-qzkc-fBe .frame-7-nCx .frame-4-tYp .vuesax-linear-logout-29E {
  margin-right: 1.8rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.whitepaper-JTa .crypto-whitepaper-pgp .frame-87-YMv .auto-group-qzkc-fBe .frame-7-nCx .frame-4-tYp .logout-Z9A {
  margin-top: 0.1rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #e45a5a;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.whitepaper-JTa .crypto-whitepaper-pgp .auto-group-gmtt-3KE {
  box-sizing: border-box;
  padding: 0rem 4.2rem 0rem 4.4rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.whitepaper-JTa .crypto-whitepaper-pgp .auto-group-gmtt-3KE .auto-group-hyat-mFE {
  margin: 4.6rem 4rem 4.6rem 0rem;
  width: 109.4rem;
  height: calc(100% - 9.2rem);
  flex-shrink: 0;
}
.whitepaper-JTa .crypto-whitepaper-pgp .auto-group-gmtt-3KE .auto-group-hyat-mFE .frame-66-UQY {
  margin: 0rem 2.7rem 1.4rem 0.2rem;
  width: calc(100% - 2.9rem);
  height: 7.3rem;
  display: flex;
  align-items: center;
}
.whitepaper-JTa .crypto-whitepaper-pgp .auto-group-gmtt-3KE .auto-group-hyat-mFE .frame-66-UQY .frame-13-PXW {
  margin-right: 48.2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.whitepaper-JTa .crypto-whitepaper-pgp .auto-group-gmtt-3KE .auto-group-hyat-mFE .frame-66-UQY .frame-13-PXW .dashboard-k7A {
  margin-bottom: 0.7rem;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.2125;
  letter-spacing: -0.034rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.whitepaper-JTa .crypto-whitepaper-pgp .auto-group-gmtt-3KE .auto-group-hyat-mFE .frame-66-UQY .frame-13-PXW .welcome-back-user--rR6 {
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 1.2125;
  letter-spacing: -0.019rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.whitepaper-JTa .crypto-whitepaper-pgp .auto-group-gmtt-3KE .auto-group-hyat-mFE .frame-66-UQY .frame-13-PXW .welcome-back-user--rR6 .welcome-back-user--rR6-sub-0 {
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: -0.019rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.whitepaper-JTa .crypto-whitepaper-pgp .auto-group-gmtt-3KE .auto-group-hyat-mFE .frame-66-UQY .frame-13-PXW .welcome-back-user--rR6 .welcome-back-user--rR6-sub-1 {
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 1.2125;
  letter-spacing: -0.019rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.whitepaper-JTa .crypto-whitepaper-pgp .auto-group-gmtt-3KE .auto-group-hyat-mFE .frame-66-UQY .frame-13-PXW .welcome-back-user--rR6 .welcome-back-user--rR6-sub-2 {
}
.whitepaper-JTa .crypto-whitepaper-pgp .auto-group-gmtt-3KE .auto-group-hyat-mFE .frame-66-UQY .frame-13-PXW .welcome-back-user--rR6 .welcome-back-user--rR6-sub-3 {
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 1.2125;
  letter-spacing: -0.019rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.whitepaper-JTa .crypto-whitepaper-pgp .auto-group-gmtt-3KE .auto-group-hyat-mFE .frame-66-UQY .frame-12-j12 {
  margin: 1.05rem 0rem 1.15rem 0rem;
  box-sizing: border-box;
  padding: 1.35rem 6rem;
  height: calc(100% - 2.2rem);
  display: flex;
  align-items: center;
  border: solid 0.1rem #e3e3e3;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.0700000003);
  border-radius: 1rem;
  flex-shrink: 0;
}
.whitepaper-JTa .crypto-whitepaper-pgp .auto-group-gmtt-3KE .auto-group-hyat-mFE .frame-66-UQY .frame-12-j12 .search-cqW {
  margin: 0.1rem 19rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.whitepaper-JTa .crypto-whitepaper-pgp .auto-group-gmtt-3KE .auto-group-hyat-mFE .frame-66-UQY .frame-12-j12 .vuesax-linear-search-normal-vLQ {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.whitepaper-JTa .crypto-whitepaper-pgp .auto-group-gmtt-3KE .auto-group-hyat-mFE .auto-group-acqe-ypU {
  width: 100%;
  height: 90.1rem;
  position: relative;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.0700000003);
  background-color: #4d4d86;
  border-radius: 2rem;
}
.whitepaper-JTa .crypto-whitepaper-pgp .auto-group-gmtt-3KE .auto-group-hyat-mFE .auto-group-acqe-ypU .rectangle-167-WZW {
  width: 103.5rem;
  height: 84rem;
  position: absolute;
  left: 3.2rem;
  top: 2.7rem;
  background-color: #4d4d86;
}
.whitepaper-JTa .crypto-whitepaper-pgp .auto-group-gmtt-3KE .auto-group-hyat-mFE .auto-group-acqe-ypU .introduction-pq6 {
  width: 23.2rem;
  height: 4.9rem;
  position: absolute;
  left: 4.3rem;
  top: 3.9rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2125;
  letter-spacing: -0.08rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.whitepaper-JTa .crypto-whitepaper-pgp .auto-group-gmtt-3KE .auto-group-hyat-mFE .auto-group-acqe-ypU .welcome-to-the-whitepaper-of-vincrypt-smartfolio-a-groundbreaking-platform-that-aims-to-empower-investors-in-building-their-portfolios-using-reliable-and-adaptive-research-on-hundreds-of-potential-cryptocurrencies-in-this-document-we-will-present-an-overview-vision-mission-utility-and-the-essence-of-our-project-overview-vincrypt-smartfolio-is-an-all-in-one-platform-designed-to-revolutionize-the-way-investors-build-and-manage-their-cryptocurrency-portfolios-we-understand-the-challenges-faced-by-investors-in-identifying-promising-investment-opportunities-amidst-the-dynamic-crypto-market-therefore-our-platform-combines-reliable-research-adaptive-algorithms-and-powerful-analytics-to-guide-users-in-making-informed-investment-decisions-vision-our-vision-is-to-become-the-go-to-platform-for-investors-seeking-reliable-and-adaptive-cryptocurrency-research-we-strive-to-empower-users-regardless-of-their-experience-level-to-build-well-diversified-portfolios-that-maximize-the-potential-of-their-investments-through-our-platform-we-aim-to-provide-access-to-reliable-information-enabling-investors-to-navigate-the-crypto-market-with-confidence-mission-our-mission-is-to-provide-a-user-friendly-platform-that-offers-comprehensive-and-up-to-date-research-on-a-wide-range-of-cryptocurrencies-by-utilizing-cutting-edge-technology-adaptive-algorithms-and-expert-analysis-we-aim-to-deliver-actionable-insights-and-recommendations-that-cater-to-each-investors-unique-investment-goals-we-are-dedicatedto-helping-investors-build-portfolios-that-align-with-their-risk-appetite-and-investment-strategies-WT2 {
  width: 103.2rem;
  height: 67.9rem;
  position: absolute;
  left: 3.2rem;
  top: 9.9rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  letter-spacing: -0.04rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.whitepaper-JTa .crypto-whitepaper-pgp .auto-group-gmtt-3KE .line-1-W16 {
  margin-right: 2.6rem;
  width: 0rem;
  height: 0.1rem;
  background-color: #e1e1e1;
  flex-shrink: 0;
}
.whitepaper-JTa .crypto-whitepaper-pgp .auto-group-gmtt-3KE .auto-group-3zbj-ESt {
  margin: 5.3rem 0rem 8rem 0rem;
  width: 40.4rem;
  height: calc(100% - 13.3rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.whitepaper-JTa .crypto-whitepaper-pgp .auto-group-gmtt-3KE .auto-group-3zbj-ESt .frame-68-wcC {
  margin: 0rem 2.3rem 0.8rem 19.6rem;
  width: calc(100% - 21.9rem);
  height: 6.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.whitepaper-JTa .crypto-whitepaper-pgp .auto-group-gmtt-3KE .auto-group-3zbj-ESt .frame-68-wcC .username-TqS {
  margin-right: 3rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2125;
  letter-spacing: -0.018rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.whitepaper-JTa .crypto-whitepaper-pgp .auto-group-gmtt-3KE .auto-group-3zbj-ESt .frame-68-wcC .group-20-n72 {
  width: 6.6rem;
  height: 100%;
  border-radius: 9.9rem;
  flex-shrink: 0;
}
.whitepaper-JTa .crypto-whitepaper-pgp .auto-group-gmtt-3KE .auto-group-3zbj-ESt .frame-68-wcC .group-20-n72 .group-6-8Rn {
  width: 100%;
  height: 100%;
  border-radius: 9.9rem;
}
.whitepaper-JTa .crypto-whitepaper-pgp .auto-group-gmtt-3KE .auto-group-3zbj-ESt .frame-68-wcC .group-20-n72 .group-6-8Rn .rectangle-4-gy6 {
  width: 100%;
  height: 6.6rem;
  background-color: #d7d7d7;
  border-radius: 9.9rem;
}
.whitepaper-JTa .crypto-whitepaper-pgp .auto-group-gmtt-3KE .auto-group-3zbj-ESt .frame-37-1Eg {
  box-sizing: border-box;
  padding: 2.5rem 2.3rem 60.7rem 3.3rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.0700000003);
  background-color: #4d4d86;
  border-radius: 2rem;
  flex-shrink: 0;
}
.whitepaper-JTa .crypto-whitepaper-pgp .auto-group-gmtt-3KE .auto-group-3zbj-ESt .frame-37-1Eg .wallet-id-L24 {
  margin: 0rem 6.2rem 2.4rem 0rem;
  font-size: 2.7rem;
  font-weight: 700;
  line-height: 1.2125;
  letter-spacing: -0.027rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.whitepaper-JTa .crypto-whitepaper-pgp .auto-group-gmtt-3KE .auto-group-3zbj-ESt .frame-37-1Eg .auto-group-htgg-RpC {
  box-sizing: border-box;
  padding-bottom: 4.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.whitepaper-JTa .crypto-whitepaper-pgp .auto-group-gmtt-3KE .auto-group-3zbj-ESt .frame-37-1Eg .auto-group-htgg-RpC .frame-32-AFz {
  margin-bottom: 3.3rem;
  width: 100%;
  height: 8.9rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: -0.014rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.whitepaper-JTa .crypto-whitepaper-pgp .auto-group-gmtt-3KE .auto-group-3zbj-ESt .frame-37-1Eg .auto-group-htgg-RpC .insert-content-here-q7E {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: -0.014rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
