
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.design-FNq {
  padding-top: 43.5rem;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;

  .auto-group-bbep-33o {
    width: 100%;
    height: 277rem;
    position: relative;
    flex-shrink: 0;

    .frame-Yuf {
      box-sizing: border-box;
      padding-bottom: 1.9rem;
      height: 149rem;
      left: 0;
      align-items: center;
      display: flex;
      width: 144rem;
      position: absolute;
      top: 128rem;
      overflow: hidden;
      flex-direction: column;
      background: linear-gradient(180deg, #f8f9fb -0%, #fafbff 100%);

      .auto-group-ybz1-2K3 {
        padding: 10rem 48.15rem 10rem 46.75rem;
        width: 100%;
        height: 45.7rem;
        background-color: #0d0d2b;
        flex-shrink: 0;
        margin-bottom: 1.5rem;
        box-sizing: border-box;

        .group-87B {
          width: 100%;
          height: 11.1rem;
          align-items: center;
          display: flex;
          flex-direction: column;

          .check-out-our-feature-URw {
            text-align: center;
            font-family: Rubik, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            color: #ffffff;
            margin: 0rem 0rem 2.4rem 1.5rem;
            font-size: 4rem;
            font-weight: 700;
            line-height: 1.5;
          }
          .check-our-summary-based-on-our-database-powered-by-ai-UTs {
            flex-shrink: 0;
            text-align: center;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.5;
            color: #e0e0e0;
            font-family: Rubik, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
      .group-xtq {
        display: flex;
        flex-direction: column;
        box-shadow: 0 2rem 20rem rgba(57, 23, 119, 0.0500000007);
        flex-shrink: 0;
        margin: 0rem 9.9rem 0rem 10.1rem;
        width: calc(100% - 20rem);
        align-items: center;

        .group-gpq {
          align-items: center;
          padding: 4.552rem 11.5rem 3.974rem 6.318rem;
          width: 100%;
          display: flex;
          background-color: #fbfcfe;
          border-radius: 1.6rem 1.6rem 0 0;
          flex-shrink: 0;
          margin-bottom: 6.4216rem;
          box-sizing: border-box;

          .enter-your-hash-rate-avD {
            margin: 0.098rem 6.318rem 0rem 0rem;
            width: 53.0488rem;
            font-weight: 400;
            color: #0d0d2b;
            font-family: Rubik, 'Source Sans Pro';
            flex-shrink: 0;
            height: 3rem;
            font-size: 2rem;
            line-height: 1.5;
            white-space: nowrap;
            border-bottom: solid 0.1rem #e0e0e0;
            box-sizing: border-box;
          }
          .group-ony {
            height: 3rem;
            display: flex;
            align-items: flex-start;
            border-bottom: solid 0.1rem #e0e0e0;
            flex-shrink: 0;
            margin: 0.098rem 6.287rem 0rem 0rem;
            box-sizing: border-box;
            padding-left: 1.0531rem;

            .category-Xiy {
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 14.5677rem;
              font-size: 2rem;
              font-weight: 400;
              line-height: 1.5;
              color: #0d0d2b;
              font-family: Rubik, 'Source Sans Pro';
            }
            .icon-arrow-down-Sqw {
              width: 2.1062rem;
              height: 1.1999rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-top: 0.2999rem;
            }
          }
          .button-8Ts {
            position: relative;
            white-space: nowrap;
            border-radius: 3.2rem;
            flex-shrink: 0;
            font-size: 1.8rem;
            line-height: 1.5;
            justify-content: center;
            text-align: center;
            font-weight: 500;
            color: #ffffff;
            font-family: Rubik, 'Source Sans Pro';
            background-color: #3671e9;
            margin-bottom: 0.1713rem;
            width: 14.2rem;
            overflow: hidden;
            height: 2.9263rem;
            display: flex;
            align-items: center;
          }
        }
        .estimated-revenue-4kq {
          border-radius: 0 0 1.6rem 1.6rem;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          box-shadow: 0 8rem 4rem #391777;
          background-color: #ffffff;
          padding: 1.138rem 1.8rem 20.348rem 1.8rem;
          width: 100%;
          flex-shrink: 0;

          .result--ngq {
            flex-shrink: 0;
            margin-bottom: 55.1688rem;
            font-weight: 500;
            line-height: 1.5;
            text-transform: uppercase;
            color: #3671e9;
            font-family: Rubik, 'Source Sans Pro';
            font-size: 1.6rem;
            letter-spacing: 0.064rem;
            white-space: nowrap;
          }
          .item--W73 {
            margin-left: 4.4185rem;
            font-size: 1.6rem;
            line-height: 1.75;
            letter-spacing: 0.016rem;
            font-family: Rubik, 'Source Sans Pro';
            font-weight: 400;
            color: #828282;
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
    }
    .frame-6qw {
      left: 0;
      top: 43.2rem;
      overflow: hidden;
      background-color: #0d0d2b;
      width: 144rem;
      height: 86.5rem;
      position: absolute;

      .item--q2q {
        width: 92.419rem;
        height: 60.2864rem;
        position: absolute;
        left: 0;
        top: 41.7799rem;
        background: linear-gradient(40.89deg, rgba(255, 255, 255, 0) 45.91%, rgba(255, 255, 255, 0.1000000015) 63.4%);
      }
      .d-Vt5 {
        position: absolute;
        left: 119rem;
        top: 5.3rem;
        object-fit: contain;
        vertical-align: top;
        width: 35.5167rem;
        height: 35.5167rem;
      }
      .u-aPj {
        width: 24rem;
        height: 24rem;
        position: absolute;
        left: 128.6rem;
        top: 55.8rem;
        object-fit: contain;
        vertical-align: top;
      }
      .content-uwo {
        width: 120rem;
        height: 47.3rem;
        position: absolute;
        left: 12rem;
        top: 29.2rem;
        display: flex;
        align-items: center;

        .illustrations-Rv9 {
          height: 100%;
          position: relative;
          flex-shrink: 0;
          margin-right: 7rem;
          width: 65rem;

          .item--a2M {
            background-size: 100% 100%;
            background-image: url('REPLACE_IMAGE:6d1bd352609b29cf52af183d45853fee45d0cd8b');
            width: 55.1049rem;
            height: 21.4143rem;
            position: relative;
            left: 2.1885rem;
            top: 25.8857rem;
          }
          .item--3wX {
            height: 18.4875rem;
            position: relative;
            left: 19.6462rem;
            top: 13.3981rem;
            background-size: 100% 100%;
            background-image: url('REPLACE_IMAGE:64384f2027aac7d89df6267834b333e3e59404f3');
            width: 40.2315rem;
          }
          .item--mMj {
            width: 21.0667rem;
            height: 12.6827rem;
            position: relative;
            left: 22.2308rem;
            top: 20.4711rem;
            background-size: 100% 100%;
            background-image: url('REPLACE_IMAGE:57f34901b9fdebaf03a9d989b906368710f5e326');
          }
          .item--TkM {
            width: 7.4123rem;
            height: 7.4145rem;
            position: relative;
            left: 46.0773rem;
            top: 35.6905rem;
            background-size: 100% 100%;
            background-image: url('REPLACE_IMAGE:97e705bdedfe20c266d7899ba130a6358fcac231');
          }
          .ooo-Mqj {
            top: 0;
            object-fit: contain;
            vertical-align: top;
            width: 48.6192rem;
            height: 46.4178rem;
            position: absolute;
            left: 16.3808rem;
          }
          .ethereum-JFB {
            width: 29.8566rem;
            height: 18.2659rem;
            position: absolute;
            left: 0;
            top: 11.8108rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .text-S6V {
          width: 48rem;
          height: calc(100% - 15.4111rem);
          border-radius: 3.2rem;
          flex-shrink: 0;
          margin: 7.697rem 0rem 7.714rem 0rem;

          .about-us-LxZ {
            line-height: 1.5;
            color: #ffffff;
            font-family: Rubik, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 8.3939rem;
            font-size: 4rem;
            font-weight: 700;
          }
          .we-provide-rich-information-on-more-than-400-cryptocurrency-based-on-ai-powered-database-to-ensure-accuracy-and-detailed-informations-TGV {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.75;
            letter-spacing: 0.016rem;
            color: #e0e0e0;
            font-family: Rubik, 'Source Sans Pro';
            margin-bottom: 3.1951rem;
            max-width: 37.4rem;
          }
          .button-ueH {
            border-radius: 3.2rem;
            text-align: center;
            align-items: center;
            line-height: 1.5;
            color: #ffffff;
            white-space: nowrap;
            width: 14.6rem;
            height: 5.9rem;
            position: relative;
            justify-content: center;
            font-weight: 500;
            font-family: Rubik, 'Source Sans Pro';
            display: flex;
            background-color: #3671e9;
            overflow: hidden;
            font-size: 1.8rem;
          }
        }
      }
      .group-Zyj {
        position: absolute;
        left: 55.3rem;
        top: 13.9rem;
        display: flex;
        align-items: flex-start;
        width: 27.8rem;
        height: 9.2rem;

        .icon-ha9 {
          flex-shrink: 0;
          margin: 0rem 2.4rem 1.2rem 0rem;
          box-sizing: border-box;
          padding: 2.5rem;
          background-color: rgba(255, 255, 255, 0.1000000015);
          border-radius: 4rem;

          .icon-bar-chart-dih {
            vertical-align: top;
            width: 3rem;
            height: 3rem;
            object-fit: contain;
          }
        }
        .group-Meh {
          height: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .item-400-iVF {
            font-weight: 700;
            line-height: 1.5;
            color: #ffffff;
            font-family: Rubik, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.4rem;
            font-size: 4rem;
          }
          .crypto-coins-database-3nR {
            font-family: Rubik, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.75;
            letter-spacing: 0.016rem;
            color: #e0e0e0;
          }
        }
      }
    }
    .item--Zkm {
      width: 92.419rem;
      height: 60.2864rem;
      position: absolute;
      left: 13.1rem;
      top: 0;
      background: linear-gradient(230.49deg, rgba(255, 255, 255, 0) 47.77%, rgba(255, 255, 255, 0.0399999991) 49.51%, rgba(255, 255, 255, 0) 52.25%);
    }
  }
  .features-eGR {
    box-sizing: border-box;
    height: 187.4rem;
    overflow: hidden;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #2b076e;
    flex-shrink: 0;
    padding-left: 12rem;
    width: 100%;
    position: relative;

    .auto-group-ksg7-ZPP {
      width: 94.5rem;
      height: 68.6rem;
      position: relative;
      flex-shrink: 0;
      margin: 0rem 31.3rem 9.1rem 0rem;

      .o-tAm {
        width: 68.6rem;
        height: 68.6rem;
        position: absolute;
        left: 0;
        top: 0;
        background: conic-gradient(from 180deg at 50% 50%, rgba(255, 255, 255, 0.1599999964) -0deg, rgba(255, 255, 255, 0) 360deg);
        border-radius: 34.3rem;
      }
      .market-sentiments-portfolio-and-run-the-infrastructure-of-your-choice-Znh {
        width: 75.2rem;
        height: 12rem;
        top: 55.7rem;
        font-weight: 700;
        color: #ffffff;
        font-family: Rubik, 'Source Sans Pro';
        position: absolute;
        left: 19.3rem;
        text-align: center;
        font-size: 4rem;
        line-height: 1.5;
      }
    }
    .invest-smart-pid {
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 18.6rem 22.5rem 0rem;
      width: calc(100% - 18.6rem);
      height: 42.7rem;

      .text-8UR {
        margin: 4rem 10rem 0rem 0rem;
        width: 45.4rem;
        border-radius: 3.2rem;
        flex-shrink: 0;

        .invest-smart-q7w {
          font-weight: 700;
          line-height: 1.5;
          color: #ffffff;
          font-family: Rubik, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 2.4rem;
          font-size: 3.2rem;
        }
        .get-full-statistic-information-about-the-behaviour-of-buyers-and-sellers-will-help-you-to-make-the-decision-wgm {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.75;
          letter-spacing: 0.016rem;
          color: #e0e0e0;
          font-family: Rubik, 'Source Sans Pro';
          margin-bottom: 3.2rem;
          max-width: 40.6rem;
        }
        .button-DuB {
          align-items: center;
          height: 5.9rem;
          font-size: 1.8rem;
          font-weight: 500;
          color: #ffffff;
          display: flex;
          text-align: center;
          line-height: 1.5;
          justify-content: center;
          border-radius: 3.2rem;
          position: relative;
          overflow: hidden;
          font-family: Rubik, 'Source Sans Pro';
          white-space: nowrap;
          background-color: #3671e9;
          width: 16.2rem;
        }
      }
      .chart-Vbo {
        width: 58rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-74-EpH {
          top: 0;
          background-color: #35068c;
          border-radius: 1.6rem;
          width: 58rem;
          height: 29.8rem;
          position: absolute;
          left: 0;
        }
        .group-110-xkH {
          align-items: center;
          width: 50rem;
          height: 5rem;
          position: absolute;
          left: 4rem;
          top: 4rem;
          display: flex;

          .group-17-fPo {
            margin: 0rem 1.6rem 1rem 0rem;
            width: 4rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .auto-group-aobm-Bsw {
            height: 100%;
            flex-shrink: 0;
            margin-right: 27.5rem;
            width: 12.3rem;

            .group-90-w6R {
              margin-bottom: 0.3rem;
              width: 100%;
              display: flex;
              align-items: center;

              .bitcoin-Us3 {
                font-weight: 700;
                line-height: 1.2125;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 0.8rem;
                font-size: 2.4rem;
              }
              .btc-oeR {
                color: #cfcfcf;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.6rem;
                font-weight: 600;
                line-height: 1.2125;
              }
            }
            .btc-jny {
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.2125;
              letter-spacing: 0.014rem;
              color: #f2f2f2;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .item-125-5M3 {
            color: #42ffff;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 0.9rem;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.2125;
            text-align: right;
            letter-spacing: 0.014rem;
            white-space: nowrap;
          }
        }
        .card-bounce-rate-CAm {
          box-sizing: border-box;
          backdrop-filter: blur(12.5rem);
          background-color: #491f98;
          border-radius: 1.6rem;
          padding: 2.4rem 1.6rem 2.3rem 1.6rem;
          width: 17.8rem;
          height: 18.4rem;
          position: absolute;
          left: 6.4rem;
          top: 24.3rem;

          .increase-in-trade-hNR {
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.4;
            letter-spacing: 0.02rem;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            margin-bottom: 1.6rem;
            max-width: 10.8rem;
          }
          .group-69-R3X {
            padding-right: 0.5994rem;
            width: calc(100% - 4.8rem);
            display: flex;
            align-items: center;
            margin: 0rem 4.8rem 1.5rem 0rem;
            box-sizing: border-box;

            .item-75-jpu {
              color: #ffffff;
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.4rem;
              font-weight: 700;
              line-height: 1.2125;
              letter-spacing: 0.024rem;
              margin-right: 1.2996rem;
              font-family: Inter, 'Source Sans Pro';
            }
            .arrow-up-G49 {
              height: 1.1995rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-top: 0.0005rem;
              width: 1.201rem;
            }
          }
          .sell-option-PeZ {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.2125;
            letter-spacing: 0.016rem;
            color: #f2f2f2;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .card-visits-per-day-5nH {
          padding: 1.6rem 3.2rem 1.5rem 3.2rem;
          width: 16.9rem;
          position: absolute;
          left: 35.5rem;
          background-color: #491f98;
          border-radius: 1.6rem;
          box-shadow: 1.5rem 2rem 4rem rgba(116, 117, 218, 0.150000006);
          box-sizing: border-box;
          height: 8.4rem;
          top: 25.5rem;

          .group-62-PY5 {
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            width: 100%;

            .item-1532-wZb {
              line-height: 1.2125;
              font-size: 2.4rem;
              font-weight: 700;
              letter-spacing: 0.024rem;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0.1rem 0.3rem 0rem;
              text-align: center;
            }
            .price-in-dollar-Eob {
              text-align: center;
              letter-spacing: 0.016rem;
              white-space: nowrap;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #f2f2f2;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
            }
          }
        }
        .group-111-hSH {
          left: 4rem;
          top: 11.4rem;
          background-size: cover;
          background-repeat: no-repeat;
          background-image: url('REPLACE_IMAGE:1:442');
          box-sizing: border-box;
          padding: 0.0396rem 0;
          position: absolute;
          width: 50rem;
          height: 13.6rem;
          background-position: center;

          .vector-7-RdB {
            width: 50rem;
            height: 7.0605rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
      }
    }
    .detailed-statistics-MFw {
      width: 45.6rem;
      height: 24.7rem;
      border-radius: 3.2rem;
      flex-shrink: 0;
      margin: 0rem 0rem 19.445rem 49.4rem;

      .text-gJD {
        border-radius: 3.2rem;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        .detailed-statistics-SHP {
          color: #ffffff;
          font-family: Rubik, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0rem 2.4rem 0.2rem;
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 1.5;
        }
        .view-market-statistics-analyzed-and-created-by-ai-xFj {
          flex-shrink: 0;
          margin: 0rem 0rem 8.8rem 0.2rem;
          letter-spacing: 0.016rem;
          white-space: nowrap;
          color: #e0e0e0;
          font-family: Rubik, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.75;
        }
        .button-qqK {
          align-items: center;
          justify-content: center;
          border-radius: 3.2rem;
          background-color: #3671e9;
          flex-shrink: 0;
          overflow: hidden;
          color: #ffffff;
          display: flex;
          width: 16.2rem;
          height: 5.9rem;
          font-family: Rubik, 'Source Sans Pro';
          font-weight: 500;
          line-height: 1.5;
          white-space: nowrap;
          position: relative;
          text-align: center;
          font-size: 1.8rem;
        }
      }
    }
    .auto-group-dnvt-7H3 {
      height: 93.7094rem;
      position: relative;
      flex-shrink: 0;
      width: 181.2547rem;

      .o-Fe9 {
        object-fit: contain;
        vertical-align: top;
        width: 93.7093rem;
        height: 93.7094rem;
        position: absolute;
        left: 87.5453rem;
        top: 0;
      }
      .grow-profit-bi1 {
        width: 120rem;
        height: 33.4rem;
        position: absolute;
        left: 0;
        top: 2.6547rem;
        display: flex;
        align-items: center;

        .text-jZK {
          height: calc(100% - 3.8997rem);
          border-radius: 3.2rem;
          flex-shrink: 0;
          margin: 1rem 6.4rem 2.9rem 0rem;
          width: 45.4rem;

          .grow-your-profit-and-track-your-investments-r89 {
            font-size: 3.2rem;
            font-weight: 700;
            line-height: 1.5;
            color: #ffffff;
            font-family: Rubik, 'Source Sans Pro';
            margin-bottom: 2.4rem;
            max-width: 42rem;
          }
          .use-advanced-analytical-tools-clear-tradingview-charts-let-you-track-current-and-historical-profit-investments-ZoF {
            font-family: Rubik, 'Source Sans Pro';
            margin-bottom: 3.2003rem;
            max-width: 37rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.75;
            letter-spacing: 0.016rem;
            color: #e0e0e0;
          }
          .button-Sc9 {
            position: relative;
            text-align: center;
            font-weight: 500;
            border-radius: 3.2rem;
            width: 16.2rem;
            height: 5.9rem;
            align-items: center;
            background-color: #3671e9;
            font-family: Rubik, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            justify-content: center;
            line-height: 1.5;
            color: #ffffff;
            overflow: hidden;
            font-size: 1.8rem;
          }
        }
        .table-jLM {
          flex-shrink: 0;
          width: 68.2rem;
          height: 100%;
          position: relative;

          .base-5f7 {
            position: absolute;
            left: 7.2rem;
            top: 0;
            backdrop-filter: blur(0.2rem);
            background-color: #35068c;
            border-radius: 1.6rem;
            width: 61rem;
            height: 33.4rem;
          }
          .title-QhP {
            display: flex;
            align-items: center;
            width: 35.4rem;
            height: 1.7rem;
            position: absolute;
            left: 29.3rem;
            top: 4rem;

            .price-wSR {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 8.6rem;
              font-size: 1.4rem;
              font-weight: 600;
              line-height: 1.2125;
              color: #ffffff;
            }
            .change-gQ1 {
              font-weight: 600;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 8.8rem;
              font-size: 1.4rem;
            }
            .volume-24h-RcV {
              font-size: 1.4rem;
              font-weight: 600;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .btc-Mm3 {
            height: 4.8rem;
            position: absolute;
            left: 11.2rem;
            top: 7.3rem;
            display: flex;
            align-items: center;
            width: 52.1rem;

            .btc-gYR {
              margin-right: 7.2rem;
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .group-17-XZ3 {
                vertical-align: top;
                flex-shrink: 0;
                margin: 0rem 1.6rem 0.2rem 0rem;
                width: 4rem;
                height: 4rem;
                object-fit: contain;
              }
              .group-91-Fjw {
                flex-shrink: 0;
                height: 100%;
                display: flex;
                flex-direction: column;

                .btc-c4h {
                  line-height: 1.2125;
                  color: #ffffff;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 0.3rem;
                  font-size: 2rem;
                  font-weight: 700;
                }
                .bitcoin-wcm {
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.2125;
                  letter-spacing: 0.016rem;
                  color: #f2f2f2;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
            }
            .item-6750-fYm {
              margin-top: 0rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #f2f2f2;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .auto-group-anjh-CYh {
              box-sizing: border-box;
              padding: 1.4rem 0rem 1.4rem 7.2rem;
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .group-100-vUh {
                flex-shrink: 0;
                margin-right: 7.2rem;
                height: 100%;
                display: flex;
                align-items: center;

                .group-96-suj {
                  margin-right: 0.8rem;
                  width: 1.6rem;
                  height: 1.6rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .item-73-2Gq {
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.2125;
                  color: #8fffbd;
                  font-family: Inter, 'Source Sans Pro';
                }
              }
              .item-3420214-kid {
                font-weight: 400;
                line-height: 1.2125;
                color: #f2f2f2;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.6rem;
              }
            }
          }
          .eth-tZw {
            padding: 1.6rem 5.2rem 1.5rem 4.01rem;
            top: 14.4rem;
            background-color: #450fad;
            box-shadow: 0 2rem 8rem rgba(54, 113, 233, 0.1000000015);
            box-sizing: border-box;
            width: 61rem;
            height: 7.9rem;
            position: absolute;
            left: 0;
            border-radius: 1.6rem;

            .group-106-cVw {
              height: 100%;
              display: flex;
              align-items: center;
              width: 100%;

              .group-104-y5b {
                margin-right: 5.1rem;
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .logo-ethereum-hGV {
                  margin-right: 1.6109rem;
                  width: 3.9789rem;
                  height: 3.9789rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .group-92-pM7 {
                  height: 100%;
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;

                  .eth-Avm {
                    font-size: 2rem;
                    font-weight: 700;
                    line-height: 1.2125;
                    color: #ffffff;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    margin-bottom: 0.3rem;
                  }
                  .ethereum-WUq {
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 1.2125;
                    letter-spacing: 0.016rem;
                    color: #f2f2f2;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                }
              }
              .item-15683-dpM {
                font-weight: 400;
                line-height: 1.2125;
                color: #f2f2f2;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.6rem;
              }
              .auto-group-pzqm-aDo {
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;
                box-sizing: border-box;
                padding: 1.4rem 0rem 1.4rem 6rem;

                .group-101-WNM {
                  margin-right: 7.2rem;
                  height: 100%;
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;

                  .group-97-G6d {
                    margin-right: 0.8rem;
                    width: 1.6rem;
                    height: 1.6rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                  .item-09-bub {
                    line-height: 1.2125;
                    color: #ff7575;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1.6rem;
                    font-weight: 400;
                  }
                }
                .item-1812350-9AR {
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.2125;
                  color: #f2f2f2;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
            }
          }
          .ltc-EBs {
            top: 24.7rem;
            display: flex;
            align-items: center;
            width: 52.2898rem;
            height: 4.8rem;
            position: absolute;
            left: 11.2102rem;

            .ltc-9pd {
              margin-right: 6.4rem;
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .logo-lite-WQH {
                flex-shrink: 0;
                margin: 0rem 1.611rem 0rem 0rem;
                width: 3.9789rem;
                height: 3.9789rem;
                object-fit: contain;
                vertical-align: top;
              }
              .group-94-djo {
                flex-shrink: 0;
                height: 100%;
                display: flex;
                flex-direction: column;

                .ltc-bRj {
                  font-size: 2rem;
                  font-weight: 700;
                  line-height: 1.2125;
                  color: #ffffff;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 0.3rem;
                }
                .litecoin-k3j {
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.2125;
                  letter-spacing: 0.016rem;
                  color: #f2f2f2;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
            }
            .item-8535-se9 {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #f2f2f2;
              font-family: Inter, 'Source Sans Pro';
            }
            .auto-group-sd7d-DT7 {
              align-items: center;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 1.4rem 0rem 1.4rem 7.1rem;
              height: 100%;
              display: flex;

              .group-102-9rZ {
                margin-right: 6.9rem;
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .group-98-uaq {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 0.8rem;
                  width: 1.6rem;
                  height: 1.6rem;
                  object-fit: contain;
                }
                .item-82-T6Z {
                  font-weight: 400;
                  line-height: 1.2125;
                  color: #8fffbd;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                }
              }
              .item-5820399-nPj {
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #f2f2f2;
                font-family: Inter, 'Source Sans Pro';
              }
            }
          }
        }
      }
    }
  }
  .frame-Vow {
    background: linear-gradient(180deg, #2b076e -0%, #0d0d2b 100%);
    flex-shrink: 0;
    width: 100%;
    height: 39.2rem;
    position: relative;
    overflow: hidden;

    .item--FYD {
      width: 84.8528rem;
      height: 84.8528rem;
      position: absolute;
      left: 39.5rem;
      top: -8.5rem;
      background: linear-gradient(72.24deg, rgba(255, 255, 255, 0) 53.82%, rgba(255, 255, 255, 0.3000000119) 206.43%);
    }
    .item--9db {
      width: 84.8528rem;
      height: 84.8528rem;
      position: absolute;
      left: 3.5rem;
      top: -1.7rem;
      background: linear-gradient(72.24deg, rgba(255, 255, 255, 0) 53.82%, rgba(255, 255, 255, 0.3000000119) 206.43%);
    }
    .group-rY1 {
      background-color: #3671e9;
      border-radius: 1.6rem;
      padding: 4.8rem 9.4rem 7.6rem 4.8rem;
      width: 120rem;
      height: 21.6rem;
      position: absolute;
      left: 12rem;
      top: 8.8rem;
      background-position: center;
      box-sizing: border-box;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url('REPLACE_IMAGE:1:450');

      .text-xb3 {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        border-radius: 3.2rem;

        .group-WsT {
          margin-right: 10rem;
          height: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .start-using-our-utility-now-fkM {
            margin-bottom: 1.6rem;
            font-size: 3.2rem;
            font-weight: 700;
            line-height: 1.5;
            color: #ffffff;
            font-family: Rubik, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .discover-our-useful-ai-features-now-QC9 {
            line-height: 1.75;
            letter-spacing: 0.016rem;
            color: #ffffff;
            font-family: Rubik, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
          }
        }
        .group-jER {
          margin: 2.4rem 0rem 1.3rem 0rem;
          height: calc(100% - 3.7rem);
          display: flex;
          align-items: center;
          border-radius: 3.2rem;
          flex-shrink: 0;

          .enter-your-email-4nV {
            width: 37.4rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.75;
            letter-spacing: 0.016rem;
            color: #ffffff;
            font-family: Rubik, 'Source Sans Pro';
            margin: 0.6rem 4rem 1.3rem 0rem;
            border-bottom: solid 0.1rem rgba(255, 255, 255, 0.400000006);
            white-space: nowrap;
            box-sizing: border-box;
            flex-shrink: 0;
            height: calc(100% - 1.9rem);
          }
          .button-8GZ {
            width: 12.6rem;
            overflow: hidden;
            text-align: center;
            font-weight: 500;
            font-family: Rubik, 'Source Sans Pro';
            position: relative;
            line-height: 1.5;
            color: #0d0d2b;
            justify-content: center;
            flex-shrink: 0;
            height: 100%;
            font-size: 1.8rem;
            white-space: nowrap;
            display: flex;
            align-items: center;
            background-color: #ffffff;
            border-radius: 3.2rem;
          }
        }
      }
    }
  }
  .footer-iEm {
    box-sizing: border-box;
    padding: 8rem 12rem 8rem 11.3rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #0d0d2b;
    flex-shrink: 0;
    height: 55.2rem;
    overflow: hidden;
    position: relative;

    .auto-group-ypco-anm {
      margin: 0.8rem 3.6rem 0rem 0rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .vincrypt-t2m {
        font-weight: 600;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0rem 4.7rem 6rem;
        line-height: 1.2125;
        letter-spacing: 0.072rem;
        color: #ffffff;
        font-size: 1.8rem;
      }
      .logo-design-no-background-1-9Db {
        flex-shrink: 0;
        margin-bottom: 19.8rem;
        width: 10.1rem;
        height: 8.9rem;
        object-fit: contain;
        vertical-align: top;
      }
      .vincrypt-all-rights-reserved-rth {
        letter-spacing: 0.016rem;
        color: #ffffff;
        font-weight: 400;
        line-height: 1.75;
        font-family: Rubik, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-left: 0.7rem;
        font-size: 1.6rem;
      }
    }
    .quick-link-xgq {
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 13.6rem 14.8rem 0rem;
      display: flex;

      .quick-link-JVo {
        flex-shrink: 0;
        margin-bottom: 2.4rem;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.5;
        color: #ffffff;
        font-family: Rubik, 'Source Sans Pro';
        white-space: nowrap;
      }
      .home-products-about-features-contact-qkd {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2.375;
        color: #f2f2f2;
        font-family: Rubik, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 6.8rem;
      }
    }
    .resources-mPP {
      position: relative;
      flex-shrink: 0;
      margin: 0rem 8.7rem 14.8rem 0rem;
      width: 14.1rem;
      height: 24.4rem;

      .market-sentiment-b-c-d-e-HsX {
        color: #e0e0e0;
        width: 14.1rem;
        height: 19rem;
        position: absolute;
        top: 5.4rem;
        font-size: 1.6rem;
        line-height: 2.375;
        left: 0;
        font-weight: 400;
        font-family: Rubik, 'Source Sans Pro';
      }
      .resources-npH {
        top: 0;
        font-size: 2rem;
        line-height: 1.5;
        color: #ffffff;
        white-space: nowrap;
        width: 10.2rem;
        position: absolute;
        font-weight: 500;
        font-family: Rubik, 'Source Sans Pro';
        height: 3rem;
        left: 0;
      }
      .resources-7bf {
        top: 0;
        width: 14.1rem;
        height: 24.4rem;
        position: absolute;
        left: 0;

        .resources-4Wu {
          font-weight: 500;
          line-height: 1.5;
          color: #ffffff;
          font-family: Rubik, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 2.4rem;
          font-size: 2rem;
        }
        .market-sentiment-b-c-d-e-Ct1 {
          font-weight: 400;
          line-height: 2.375;
          color: #e0e0e0;
          font-family: Rubik, 'Source Sans Pro';
          max-width: 14.1rem;
          font-size: 1.6rem;
        }
      }
    }
    .auto-group-wxsu-LUR {
      margin-top: 5.2rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .market-sentiment-b-c-d-e-goB {
        font-weight: 400;
        line-height: 2.375;
        color: #e0e0e0;
        font-family: Rubik, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 12.2rem;
        max-width: 19.6rem;
        font-size: 1.6rem;
      }
      .socials-QjB {
        flex-shrink: 0;
        margin-left: 18.3rem;
        box-sizing: border-box;
        padding: 0.2rem 0.206rem 0.2rem 0.661rem;
        display: flex;
        align-items: center;

        .facebook-f-1-vSd {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 4.1rem 0rem 0rem;
          width: 1.039rem;
          height: 2rem;
        }
        .instagram-1-qZb {
          margin: 0rem 3.499rem 0rem 0rem;
          width: 2rem;
          height: 2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .youtube-1-mCM {
          width: 2.2014rem;
          height: 1.5469rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 3.499rem 0.001rem 0rem;
        }
        .twitter-1-5yj {
          margin: 0rem 3.606rem 0.002rem 0rem;
          width: 2rem;
          height: 1.6281rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .linkedin-1-1Mb {
          flex-shrink: 0;
          width: 1.988rem;
          height: 2rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
  }
}
